<template>
  <div class="section">
    <CarsSectionHeader
      :title="title"
      :subtitle="subtitle"
      :quantity-cars="items.length"
      :available-quantity-cars="availableQuantityCars"
    />

    <CarsSectionList ref="cars" :cars="items" class="section-list" @edit-car="openEditCarModal"/>

    <UiButton
      v-if="items.length < availableQuantityCars"
      type="border"
      class="footer-btn"
      v-text="addBtnText"
      @click="$emit('add')"
    />
    <UiButton
      v-else
      type="border"
      class="footer-btn"
      v-text="noPlacesBtnText"
      @click="$emit('no-places-event')"
    />

    <div
      v-if="items.length >= availableQuantityCars"
      class="footer-text"
    >
      У вас закончились бесплатные пропуска,<br>
      чтобы добавить ещё, необходимо позвонить <br>
      по телефону +7(391) 202-63-99 в УК"
    </div>

    <EditAccessForCar ref="editedCarModal" :model-value="isEditCar" @close="closeEditCarModal"/>
  </div>
</template>

<script>
import UiButton from '@/components/ui/UiButton';
import CarsSectionHeader from './CarsSectionHeader';
import CarsSectionList from './CarsSectionList';
import EditAccessForCar from './modal/EditAccessForCar';

export default {
  name: 'CarsSection',
  components: { UiButton, CarsSectionHeader, CarsSectionList, EditAccessForCar },
  props: {
    title: String,
    subtitle: String,
    items: Array,
    availableQuantityCars: Number,
    addBtnText: String,
    noPlacesBtnText: String,
  },
  data: () => ({
    isEditCar: false,
  }),
  methods: {
    openEditCarModal(car) {
      this.$refs.editedCarModal.setCar(car);
      this.isEditCar = true;
    },
    closeEditCarModal() {
      this.isEditCar = false;
      this.$refs.editedCarModal.setCar({});
      this.$refs.cars.closeAll();
    },
  },
};
</script>

<style scoped lang="scss">
.section {
  margin-bottom: 16px;
}
.section-list {
  margin-bottom: 8px;
}
.footer-text {
  @include font-regular-caption-2;
  color: black;
  text-align: center;
  margin-top: 16px;
}
</style>
