<template>
  <div class="item">
    <div class="text-wrap">
      <div class="title">
        <template v-if="car.carBrand">{{ car.carBrand }}</template>
        <template v-else>{{ car.sname }} {{ car.name }}</template>
      </div>
      <div v-if="!!time" class="subtitle" style="margin-left: 5px;">{{ time }}</div>
    </div>
    <div class="text-wrap">
      <div class="title">{{ car.carNumber }}</div>
      <div class="subtitle" style="margin-left: 6px;">{{ car.carRegion }}</div>
    </div>
  </div>
</template>

<script>
import { onDeactivated, onMounted, ref } from 'vue';
import DateFormating from '@/Services/DateFormating';

const INTERVAL_UPDATE_TIME = 60; // сек
const MILLISECONDS_IN_DAY = 1000 * 60 * 60 * 24;

export default {
  name: 'CarsSectionListItem',
  props: {
    car: Object,
    default: () => ({}),
  },
  setup(props) {
    const lostTimeInterval = ref(null);
    const time = ref('');

    const setTime = () => {
      if (props.car.lockedTo && (props.car.lockedTo.getTime() - new Date().getTime() <= MILLISECONDS_IN_DAY)) {
        time.value = `осталось ~ ${DateFormating.lostTimeToString(props.car.lockedTo.getTime() - new Date().getTime())}`;
      } else {
        const date = new Date(props.car.lockedTo.getTime() - MILLISECONDS_IN_DAY);
        time.value = `действует с ${date.toLocaleDateString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric' })}`;
      }
    };

    onMounted(() => {
      if (props.car.isGuest && props.car.lockedTo) {
        setTime();

        lostTimeInterval.value = setInterval(() => {
          setTime();
        }, 1000 * INTERVAL_UPDATE_TIME);
      }
    });

    onDeactivated(() => {
      if (lostTimeInterval.value !== null) {
        clearInterval(lostTimeInterval.value);
        lostTimeInterval.value = null;
      }
    });

    return {
      lostTimeInterval,
      time,
    };
  },
};
</script>

<style scoped lang="scss">
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  border-radius: 6px;
  background-color: var(--color-gray-light);
}
.text-wrap {
  display: flex;
  align-items: center;
}
.title {
  @include font-regular-caption-1;
  color: black;
}
.subtitle {
  @include font-regular-caption-1;
  color: var(--color-gray-dark-03);
}
</style>
