<template>
  <UiSwipeAction v-for="car in cars" :key="car.id" ref="car" class="car">
    <CarsSectionListItem :car="car" class="car" @edit="$emit('edit')"/>

    <template #right>
      <button class="swipeout-action btn edit" @click="$emit('edit-car', car)">Редактировать</button>
      <button class="swipeout-action btn delete" @click="removeCar(car.id)">Удалить</button>
    </template>
  </UiSwipeAction>
</template>

<script>
import CarsSectionListItem from '@/screens/main/components/cars/CarsSectionListItem';
import UiSwipeAction from '@/components/ui/UiSwipeActions/UiSwipeAction';
import { useStore } from 'vuex';

export default {
  name: 'CarsSectionList',
  components: { CarsSectionListItem, UiSwipeAction },
  props: {
    cars: Array,
  },
  setup() {
    const store = useStore();

    const removeCar = (carId) => {
      store.dispatch('REMOVE_CAR', carId);
    };

    return {
      removeCar,
    };
  },
  methods: {
    closeAll() {
      this.$refs.car.forEach((car) => car._reveal());
    },
  },
};
</script>

<style scoped lang="scss">
.car {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.action {
  display: flex;
}

.btn {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include font-bold-caption-1;
  text-align: center;
  color: white;
  border: none;

  &.edit {
    background: var(--color-green);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    &:active {
      background: var(--color-green-dark);
    }
  }

  &.delete {
    background: var(--color-error);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    &:active {
      background: var(--color-error-dark);
    }
  }
}
</style>
