<template>
  <div class="header">
    <div class="left">
      <div class="title">{{ title }}</div>
      <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="quantity">{{ quantityCars }}/{{ availableQuantityCars }}</div>
  </div>
</template>

<script>
export default {
  name: 'CarsSectionHeader',
  props: {
    title: String,
    subtitle: String,
    quantityCars: Number,
    availableQuantityCars: Number,
  },
};
</script>

<style scoped lang="scss">
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  @include font-bold-caption-1;
  color: black;
}
.subtitle {
  @include font-regular-caption-1;
  color: var(--color-gray-dark-03);
  margin-left: 4px;
}
.quantity {
  @include font-bold-caption-1;
  color: black;
}
</style>
