<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.POLLS_LIST_SCREEN })" />
    </template>

    <transition mode="out-in">
      <UiLoader v-if="isLoading || !poll" />

      <div v-else class="poll">
        <UiPageTitle :title="poll.question" class="question" />

        <PollsVariants
          :items="poll.variants"
          :completed="poll.completed || poll.voted !== null"
          :selected="selectedAnswer"
          :total="poll.totalVotes"
          @select="selectAnswer"
        />

        <UiButton
          v-if="poll.voted !== null"
          type="border"
          style="margin-top: 16px;"
          @click="$router.push({ name: $screens.POLLS_LIST_SCREEN })"
        >
          Закрыть
        </UiButton>

        <UiButton v-else style="margin-top: 16px;" @click="vote">
          Проголосовать
        </UiButton>
      </div>
    </transition>
  </AppLayout>
</template>

<script>
import { computed, ref, watch } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiLoader from '@/components/ui/UiLoader';
import UiButton from '@/components/ui/UiButton';
import UiPageTitle from '@/components/ui/UiPageTitle';
import PollsVariants from './components/PollsVariants';

export default {
  name: 'PollsDetailScreen',
  components: { PollsVariants, AppHeaderOnlyBackButton, AppLayout, UiLoader, UiButton, UiPageTitle },
  setup() {
    const store = useStore();
    const route = useRoute();

    const poll = computed(() => store.getters.pollById(route.params.id));
    const selectedAnswer = ref(poll.value?.voted || null);

    watch(poll, (val) => {
      val?.voted && (selectedAnswer.value = val.voted);
    }, { deep: true, immediate: true });

    const selectAnswer = (id) => {
      selectedAnswer.value = id;
    };

    const vote = () => {
      store.dispatch('VOTE', {
        question: poll.value.id,
        answer: selectedAnswer.value,
      });
    };

    return {
      isLoading: computed(() => store.getters.isLoading),
      poll,
      selectedAnswer,
      selectAnswer,
      vote,
    };
  },
};
</script>

<style scoped lang="scss">
.poll {
  display: flex;
  flex-direction: column;
}
.question {
  margin-bottom: 6px;
}
</style>
