<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeader title="Опросы" subtitle="адрес">

      </AppHeader>
    </template>

    <UiTabSwitch :tabs="tabs" v-model="activeTab" style="margin-bottom: 12px;" />

    <PollsList :type="activeTab" />

    <Transition name="fade">
      <UiLoader v-if="isLoading" />
    </Transition>

  </AppLayout>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeader from '@/components/AppHeader';
import UiTabSwitch from '@/components/ui/UiTabSwitch';
import UiLoader from '@/components/ui/UiLoader';
import PollsList from './components/PollsList';

export default {
  name: 'PollsListScreen',
  components: { AppLayout, AppHeader, UiLoader, UiTabSwitch, PollsList },
  setup() {
    const tabs = { OPENED: 'Активные', CLOSED: 'Закрытые' };
    const activeTab = ref('OPENED');

    const store = useStore();

    return {
      tabs,
      activeTab,
      isLoading: computed(() => store.getters.isLoading),
    };
  },
};
</script>

<style scoped lang="scss">

</style>
