<template>
  <router-view v-slot="{ Component, route }">
    <transition name="fade-route">
      <component :is="Component" :key="route.path" />
    </transition>
  </router-view>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'PollsScreen',
  computed: {
    ...mapState({
      polls: (state) => state.polls.polls,
    }),
  },
  created() {
    if (!this.polls.length) {
      this.$store.dispatch('FETCH_POLLS', 0);
    }
  },
};
</script>
