<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeader title="Контакты" :subtitle="userAddress" />
    </template>

    <UiTabSwitch :tabs="tabs" v-model="activeTab" />

    <transition mode="out-in" name="fade">
      <component :is="activeTab" />
    </transition>

  </AppLayout>
</template>

<script>
import AppLayout from '@/components/AppLayout';
import AppHeader from '@/components/AppHeader';
import UiTabSwitch from '@/components/ui/UiTabSwitch';
import ContactInfo from '@/screens/contacts/components/ContactInfo';
import ContactMap from '@/screens/contacts/components/ContactMap';
import { ref, onMounted, computed } from 'vue';
import { useStore } from 'vuex';

export default {
  name: 'ContactsScreen',
  components: { AppLayout, AppHeader, UiTabSwitch, ContactInfo, ContactMap },
  setup() {
    const activeTab = ref(ContactInfo.name);
    const tabs = { [ContactInfo.name]: 'Инфо', [ContactMap.name]: 'На карте' };

    const store = useStore();
    const { contacts } = store.getters;
    const userAddress = computed(() => store.getters.userAddress);

    onMounted(() => {
      !contacts && store.dispatch('FETCH_CONTACTS');
    });

    return {
      activeTab,
      tabs,
      userAddress,
    };
  },
};
</script>
