<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.HOME_SCREEN })" />
    </template>

    <UiPageTitle title="Показания" :suptitle="userAddress" />

    <div style="margin-top: 12px;">
      <div class="section-title">Отправка показаний</div>

      <MetersDataIndicator
        v-for="(meters, key) in metersData"
        :key="key"
        :meters="meters"
        style="margin-bottom: 16px;"
        @sent="sentMetersData"
      />
    </div>

    <div style="margin-top: 24px;">
      <div class="section-title">Статистика потребления</div>

      <UiTabSwitch :tabs="chartsTabs" v-model="activeChart" />

      <MetersDataBarChart
        :data-set="chartDataset[activeChart].dataset"
        :units="chartDataset[activeChart].units"
      />
    </div>

    <UiAlert
      v-model="isShowAlert"
      message="Данные успешно переданы"
      @closed="isShowAlert = false"
    />

  </AppLayout>
</template>

<script>
import { computed, reactive, ref } from 'vue';
import { useStore } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiPageTitle from '@/components/ui/UiPageTitle';
import MetersDataIndicator from '@/screens/main/components/metersData/MetersDataIndicator';
import MetersDataBarChart from '@/screens/main/components/metersData/MetersDataBarChart';
import UiTabSwitch from '@/components/ui/UiTabSwitch';
import UiAlert from '@/components/ui/UiAlert';

export default {
  name: 'MainMetersDataScreen',
  components: {
    AppLayout, AppHeaderOnlyBackButton, UiPageTitle,
    MetersDataIndicator, MetersDataBarChart, UiTabSwitch, UiAlert,
  },
  setup() {
    const store = useStore();

    const metersData = computed(() => store.getters.metersData);

    const chartsTabs = { water: 'Водоснабжение', electricity: 'Электроэнергия' };
    const activeChart = ref(Object.keys(chartsTabs)[0]);

    const chartDataset = reactive({
      water: {
        dataset: store.getters.water,
        units: 'м³',
      },
      electricity: {
        dataset: store.getters.electricity,
        units: 'кВт/ч',
      },
    });

    const isShowAlert = ref(false);
    const sentMetersData = () => {
      isShowAlert.value = true;
    };

    return {
      metersData,

      chartsTabs,
      activeChart,
      chartDataset,

      userAddress: computed(() => store.getters.userAddress),

      isShowAlert,
      sentMetersData,
    };
  },
};
</script>

<style scoped lang="scss">
.section-title {
  @include font-regular-body;
  color: black;
  margin-bottom: 16px;
}
</style>
