<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.HOME_SCREEN })" />
    </template>

    <UiPageTitle title="Мои автомобили" :suptitle="userAddress" />

    <CarsSection
      title="Семья"
      subtitle="постоянный"
      :available-quantity-cars="availableQuantityUserCars"
      :items="userCars"
      add-btn-text="Добавить автомобиль"
      @add="openAddCarModal('USER_CAR')"
      no-places-btn-text="Купить пропуск за 1000 руб."
      @no-places-event="() => {}"
    />

    <CarsSection
      title="Гости"
      subtitle="временный на 24 часа"
      :available-quantity-cars="availableQuantityGuestCars"
      :items="guestCars"
      add-btn-text="Добавить автомобиль на 24 часа"
      @add="openAddCarModal('GUEST_CAR')"
      no-places-btn-text="Купить пропуск за 500 руб."
      @no-places-event="() => {}"
    />

    <div v-if="isNotFullPlaces" class="footer-text">
      Если необходимо больше мест, <br>
      позвоните по телефону +7(391) 202-63-99 в УК
    </div>

    <CreateAccessForNewCar :is-show="isCreateCar" :type="createCarType" @close="isCreateCar = false"/>
  </AppLayout>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiPageTitle from '@/components/ui/UiPageTitle';
import CreateAccessForNewCar from '@/screens/main/components/cars/modal/CreateAccessForNewCar';
import CarsSection from '@/screens/main/components/cars/CarsSection';

export default {
  name: 'mainCarsListScreen',
  components: { AppLayout, AppHeaderOnlyBackButton, UiPageTitle, CreateAccessForNewCar, CarsSection },
  setup() {
    const store = useStore();
    const userAddress = computed(() => store.getters.userAddress);

    const userCars = computed(() => store.getters.userCars);
    const guestCars = computed(() => store.getters.guestCars);
    const availableQuantityUserCars = computed(() => store.getters.availableQuantityUserCars);
    const availableQuantityGuestCars = computed(() => store.getters.availableQuantityGuestCars);

    const isNotFullPlaces = computed(() => (
      userCars.value.length < availableQuantityUserCars.value
      && guestCars.value.length < availableQuantityGuestCars.value
    ));

    const isCreateCar = ref(false);
    const createCarType = ref('');
    const openAddCarModal = (type) => {
      createCarType.value = type;
      isCreateCar.value = true;
    };

    if (!store.state.cars.length) {
      store.dispatch('FETCH_CARS');
    }

    return {
      userAddress,

      userCars,
      availableQuantityUserCars,
      guestCars,
      availableQuantityGuestCars,

      isNotFullPlaces,

      openAddCarModal,
      isCreateCar,
      createCarType,
    };
  },
};
</script>

<style scoped lang="scss">
.footer-text {
  @include font-regular-caption-2;
  color: black;
  text-align: center;
}
</style>
