<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.HOME_SCREEN })" />
    </template>

    <UiPageTitle title="Задолженность" :suptitle="userAddress" />

    <UiInput
      placeholder="Сумма"
      v-model="total"
      type="number"
      :disabled="!paymentLink"
      clearable
      class="input"
    />

    <UiButton :disabled="!paymentLink" type="green" @click="payment">Оплатить</UiButton>

    <UiAccordion title="История" class="payment-history" init-is-expanded>
      <div
        v-for="(payment, key) in paymentHistory"
        :key="key" class="history-item"
        :style="{ 'margin-bottom': key !== paymentHistory.length - 1 ? 16 : 0 }"
        @click="getPdf"
      >
        <div class="history-item-date">{{ payment.date }}</div>
        <div class="history-item-total">{{ payment.total.toLocaleString() }} ₽</div>
      </div>
    </UiAccordion>
  </AppLayout>
</template>

<script>
import { ref, computed, watch } from 'vue';
import { useStore } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiPageTitle from '@/components/ui/UiPageTitle';
import UiInput from '@/components/ui/UiInput';
import UiButton from '@/components/ui/UiButton';
import UiAccordion from '@/components/ui/UiAccordion';
import http from '@/http';

export default {
  name: 'MainReceiptScreen',
  components: { AppLayout, AppHeaderOnlyBackButton, UiPageTitle, UiInput, UiButton, UiAccordion },
  setup() {
    const store = useStore();

    const paymentLink = computed(() => store.getters.paymentLink);
    const payment = () => {
      window.location = paymentLink.value;
    };

    const { userId } = store.getters;

    const receipt = computed(() => store.getters.receipt);
    const total = ref(store.getters.receipt.value);
    watch(receipt, (val) => { total.value = val.value; }, { deep: true });

    const paymentHistory = computed(() => store.getters.paymentHistory);

    const getPdf = () => {
      window.open(`${http.defaults.baseURL}/debt_pdf/${userId}/`);
    };

    return {
      paymentLink,
      payment,

      total,
      paymentHistory,

      userAddress: computed(() => store.getters.userAddress),

      getPdf,
    };
  },
};
</script>

<style scoped lang="scss">
.input {
  margin-bottom: 16px;
}
.payment-history {
  margin-top: 12px;
}
.history-item {
  padding: 12px;
  border: 1px solid var(--color-gray-light);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.history-item-date,
.history-item-total {
  @include font-regular-body;
  color: black
}
</style>
