<template>
  <AppLayout>
    <template v-slot:header>
      <HomeHeader />
    </template>

    <HomeDate />

    <HomeSection
      title="Задолженность"
      :text="textReceipt"
      style="margin-bottom: 16px"
      @click.prevent="$router.push({ name: $screens.RECEIPT_SCREEN })"
    >
      <template #icon>
        <IconTicket />
      </template>

      <div
        class="font-bold-caption-1"
        :style="{ color: receipt.value < 0 ? 'var(--color-error)' : 'black', 'margin-left': 'auto' }"
      >
        {{ receipt.value }} ₽
      </div>
    </HomeSection>

    <HomeSection
      title="Показания счётчиков"
      text="Отправить с 20 до 25"
      style="margin-bottom: 16px"
      @click.prevent="$router.push({ name: $screens.METERS_DATA_SCREEN })"
    >
      <template #icon>
        <IconChart />
      </template>

      <div style="display:flex; padding: 6px; margin-left: auto;">
        <UiIcon :size="12" style="margin-right: 4px; color: var(--color-text)"><IconWater /></UiIcon>
        <UiIcon :size="12" style="margin-right: 4px; color: var(--color-green)"><IconLightBulb /></UiIcon>
      </div>
    </HomeSection>

    <HomeBanners style="margin-top: 16px; margin-bottom: 16px;" :items="[]"/>

    <UiButton
      type="border"
      style="margin-bottom: 16px;"
      @click="$router.push({ name: $screens.CARS_LIST_SCREEN })"
    >
      Мои автомобили
    </UiButton>

    <UiButton v-if="paymentLink" type="green" @click="payment">Оплатить задолженность</UiButton>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/AppLayout';
import HomeHeader from '@/screens/main/components/home/HomeHeader';
import HomeDate from '@/screens/main/components/home/HomeDate';
import HomeBanners from '@/screens/main/components/home/HomeBanners';
import HomeSection from '@/screens/main/components/home/HomeSection';
import UiButton from '@/components/ui/UiButton';
import UiIcon from '@/components/ui/UiIcon';
import { IconTicket, IconChart, IconWater, IconLightBulb } from '@/components/ui/icons';
import { computed } from 'vue';
import { useStore } from 'vuex';

export default {
  name: 'MainHomeScreen',
  components: {
    AppLayout, HomeHeader, HomeBanners, HomeDate, HomeSection, UiIcon, UiButton,
    IconTicket, IconChart, IconWater, IconLightBulb,
  },
  setup() {
    const store = useStore();

    const paymentLink = computed(() => store.getters.paymentLink);
    const payment = () => {
      window.location = paymentLink.value;
    };

    const receipt = computed(() => store.getters.receipt);

    const textReceipt = computed(() => {
      if (receipt.value.value < 0) {
        return `Задолженность на ${receipt.value.date}`;
      }

      if (receipt.value.value > 0) {
        return `Переплата на ${receipt.value.date}`;
      }

      return 'Задолженность отсутствует';
    });

    return {
      paymentLink,
      payment,

      receipt,
      textReceipt,
    };
  },
};
</script>
