<template>
  <div class="variant">
    <label :for="`answer-${item.id}`" :class="['variant-checkbox', { checked }]">
      <input
        :id="`answer-${item.id}`"
        type="radio"
        :checked="checked"
        @change="$emit('select', item.id)"
      >
      <span class="variant-checkbox-point" />
      <span class="variant-checkbox-text">{{ item.answer }}</span>
    </label>
  </div>
</template>

<script>
export default {
  name: 'PollsVariantsItem',
  props: {
    item: Object,
    checked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
.variant-checkbox{
  border-radius: 8px;
  border: 1px solid var(--color-divider);
  padding: 9px;
  display: flex;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  &-point {
    width: 16px;
    height: 16px;
    position: relative;
    border: 1px solid var(--color-green);
    border-radius: 50%;
    margin-right: 14px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: translate(-50%, -50%);
      background: transparent;
      border-radius: 50%;
    }
  }

  &-text {
    @include font-regular-caption-1;
    color: var(--color-gray-dark-03);
  }

  &.checked {
    border-color: var(--color-green);

    .variant-checkbox-point {
      &::after {
        background: var(--color-green);
      }
    }

    .variant-checkbox-text {
      color: black;
    }
  }
}
</style>
