<template>
  <div class="item" @click="$router.push({ name: $screens.POLLS_DETAIL_SCREEN, params: { id: item.id } })">
    <div class="content">
      <div class="body">{{ item?.question }}</div>
    </div>
    <div v-if="item.dateBegin" class="date-wrap">
      <div class="date">{{ activeDates }}</div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import DateFormating from '@/Services/DateFormating';

export default {
  name: 'PollsItem',
  props: {
    item: Object,
  },
  setup(props) {
    return {
      activeDates: computed(() => DateFormating.periodToString(props.item.dateBegin, props.item.dateEnd)),
    };
  },
};
</script>

<style scoped lang="scss">
.item {
  padding: 12px;
  border: 1px solid var(--color-gray-light);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:active {
    border-color: var(--color-green);
  }
}
.body {
  @include font-bold-caption-1;
  margin-bottom: 6px;
  color: black;
}
.date {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}
</style>
