<template>
  <div :class="['answer-result', { 'answer-result_selected': checked }]">
    <div class="answer-result-header">
      <div class="answer-result-title">{{ item.answer }}</div>
      <div class="answer-result-percent">{{ percent }}%</div>
    </div>
    <div class="answer-result-line">
      <div class="answer-result-line-wrap">
        <div class="inner-line" :style="{ width: `${percent}%` }"/>
      </div>
    </div>
    <div class="answer-result-footer">
      <div class="answer-result-quantity-vote">{{ voteText }}</div>
      <div v-if="checked" class="answer-result-selected-text">Вы проголосовали!</div>
    </div>
  </div>
</template>

<script>
import StringFormating from '@/Services/StringFormating';

export default {
  name: 'PollsVariantsItem',
  props: {
    item: Object,
    checked: {
      type: Boolean,
      default: false,
    },
    quantity: Number,
    percent: Number,
  },
  computed: {
    voteText() {
      return `${this.quantity} ${StringFormating.prupal(this.quantity, ['голос', 'голоса', 'голосов'])}`;
    },
  },
};
</script>

<style scoped lang="scss">
.answer-result-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.answer-result-title,
.answer-result-percent {
  @include font-regular-caption-2;
  color: black;

  .answer-result_selected & {
    @include font-bold-caption-2;
  }
}

.answer-result-line {
  margin-bottom: 6px;
  border: 1px solid var(--color-divider);
  background-color: var(--color-gray-light);
  border-radius: 4px;
  height: 12px;

  &-wrap {
    position: relative;
    margin: 2px;

    .inner-line {
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #becde1;
      height: 6px;

      .answer-result_selected & {
        background: linear-gradient(to bottom, var(--color-green), var(--color-green-dark));
        box-shadow: 1px 0 0 var(--color-green-dark), inset 0 0 5px rgba(255, 255, 255, 0.25);
      }
    }
  }
}

.answer-result-footer {
  display: flex;
  justify-content: space-between;
}

.answer-result-quantity-vote {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}

.answer-result-selected-text {
  @include font-bold-caption-2;
  color: var(--color-green);
}
</style>
