<template>
  <div>
    <TransitionGroup
      v-if="completed"
      tag="div"
      :css="false"
      @before-enter="beforeEnter"
      @enter="onEnter"
    >
      <PollsResultsVariantsItem
        v-for="(item, i) in items"
        :key="'completed' + item.id"
        :data-index="i"
        :item="item"
        class="variant-item"
        :quantity="item.votes"
        :percent="Math.round(item.votes / total * 1000) / 10"
        :checked="selected === item.id"
      />
    </TransitionGroup>

    <TransitionGroup
      v-else
      tag="div"
      :css="false"
      @before-enter="beforeEnter"
      @enter="onEnter"
    >
      <PollsVariantsItem
        v-for="(item, i) in items"
        :key="'voting-variants' + item.id"
        :data-index="i"
        :item="item"
        class="variant-item"
        :checked="selected === item.id"
        @select="(id) => $emit('select', id)"
      />
    </TransitionGroup>
  </div>
</template>

<script>
import { gsap } from 'gsap';
import PollsVariantsItem from './PollsVariantsItem';
import PollsResultsVariantsItem from './PollsResultsVariantsItem';

export default {
  name: 'PollsVariants',
  props: {
    items: Array,
    completed: {
      type: Boolean,
      default: false,
    },
    selected: String,
    total: Number,
  },
  components: { PollsVariantsItem, PollsResultsVariantsItem },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0;
      el.style.transform = 'scale(0.8)';
    },
    onEnter(el) {
      gsap.to(el, {
        opacity: 1,
        transform: 'scale(1)',
        delay: (el.dataset.index) * 0.15,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.variant-item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
</style>
