<template>
  <TransitionGroup
    class="polls-list"
    tag="div"
    :css="false"
    @before-enter="beforeEnter"
    @enter="onEnter"
  >
    <PollsItem
      v-for="(poll, i) in polls[type]"
      :data-index="i"
      :key="type + i"
      :item="poll"
      class="polls-item"
    />
  </TransitionGroup>
</template>

<script>
import { useStore } from 'vuex';
import { computed, reactive } from 'vue';
import { gsap } from 'gsap';
import PollsItem from './PollsItem';

export default {
  name: 'PollsList',
  components: { PollsItem },
  props: {
    type: String,
  },
  setup() {
    const store = useStore();

    const polls = reactive({
      OPENED: computed(() => store.getters.openedPolls),
      CLOSED: computed(() => store.getters.closedPolls),
    });

    return {
      polls,
    };
  },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0;
      el.style.transform = 'scale(0.8)';
    },
    onEnter(el) {
      gsap.to(el, {
        opacity: 1,
        transform: 'scale(1)',
        delay: el.dataset.index * 0.15,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.polls-item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
</style>
