<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeader title="Услуги" :subtitle="userAddress" />
    </template>

    <ServicesList :items="services" />

    <Transition name="fade">
      <UiLoader v-if="!services.length && isLoading" />
    </Transition>
  </AppLayout>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeader from '@/components/AppHeader';
import UiLoader from '@/components/ui/UiLoader';
import ServicesList from './components/ServicesList';

export default {
  name: 'ServicesListScreen',
  components: { AppLayout, AppHeader, ServicesList, UiLoader },
  computed: {
    ...mapState({
      services: (state) => state.services.services,
    }),
    ...mapGetters(['isLoading', 'userAddress']),
  },
};
</script>
