<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.SERVICES_LIST_SCREEN })" />
    </template>

    <transition mode="out-in">
      <UiLoader v-if="isLoading || !item" />

      <div v-else class="services">
        <UiPageTitle :title="item.title" class="services-title" />

        <ServicesDetail :items="item.items"/>
      </div>
    </transition>
  </AppLayout>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiLoader from '@/components/ui/UiLoader';
import UiPageTitle from '@/components/ui/UiPageTitle';
import ServicesDetail from './components/ServicesDetail';

export default {
  name: 'ServiceDetailScreen',
  components: { ServicesDetail, AppHeaderOnlyBackButton, AppLayout, UiLoader, UiPageTitle },
  computed: {
    ...mapGetters(['isLoading']),
    servId() {
      return +this.$route.params.id;
    },
    ...mapState({
      services: (state) => state.services.services,
    }),
    item() {
      return this.services.find((serv) => serv.id === this.servId);
    },
  },
};
</script>

<style scoped lang="scss">
.services {
  display: flex;
  flex-direction: column;
}
.services-title {
  margin-bottom: 6px;
}
</style>
