<template>
  <UiBottomCard>
    <UiInput
      placeholder="Лицевой счёт"
      class="space-bottom"
      :error="errors.login"
      :disabled="isLoading"
      v-model="credential.login"
      type="number"
    />
    <UiInput
      placeholder="Пароль"
      class="space-bottom"
      type="password"
      :error="errors.password"
      :disabled="isLoading"
      v-model="credential.password"
    />
    <UiButton
      type="green"
      class="space-bottom"
      :disabled="isLoading"
      @click="auth"
    >
      Продолжить
    </UiButton>
    <UiButton
      type="border"
      :disabled="isLoading"
      @click="$emit('go-to', 'WELCOME')"
    >
      Вернуться назад
    </UiButton>
  </UiBottomCard>
</template>

<script>
import UiBottomCard from '@/components/ui/UiBottomCard';
import UiButton from '@/components/ui/UiButton';
import UiInput from '@/components/ui/UiInput';
import { mapActions, mapGetters, mapState } from 'vuex';

export default {
  name: 'AuthForm',
  components: { UiBottomCard, UiButton, UiInput },
  data() {
    return {
      credential: {
        login: '',
        password: '',
      },
      errors: {
        login: null,
        password: null,
      },
    };
  },
  computed: {
    ...mapState({
      error: (state) => state.error,
    }),
    ...mapGetters(['isLoading']),
  },
  watch: {
    credential: {
      deep: true,
      handler() {
        this.errors = { login: null, password: null };
      },
    },
  },
  methods: {
    ...mapActions(['AUTH', 'FETCH_PROFILE', 'FETCH_DEBT', 'FETCH_METERS_DATA', 'GET_PAYMENT_LINK']),
    auth() {
      if (!this.isValid()) return;

      this.AUTH(this.credential).then((success) => {
        this.FETCH_PROFILE();
        this.FETCH_DEBT();
        this.FETCH_METERS_DATA();
        this.GET_PAYMENT_LINK();
        success && this.$router.push('/');
      });
    },
    isValid() {
      if (!this.credential.login) {
        this.errors.login = 'Поле обязательно для заполнения';
        return false;
      }

      if (!this.credential.password) {
        this.errors.password = 'Поле обязательно для заполнения';
        return false;
      }

      return true;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
