<template>
  <UiBottomCard>
    <div class="text font-regular-caption-1">
      Для входа в приложение используйте ваш логин и пароль, как на сайте <a href="https://xn----stbkdobj4e.xn--p1ai/" target="_blank">Ук-Сосны.рф</a>
      <br>
      <br>
      Если логина и пароля у вас нет, то его можно получить в Управляющей компании.
    </div>

    <hr>

    <UiButton type="text-blue" text="Закрыть" @click="$emit('go-to', 'WELCOME')">Закрыть</UiButton>
  </UiBottomCard>
</template>

<script>
import UiBottomCard from '@/components/ui/UiBottomCard';
import UiButton from '@/components/ui/UiButton';

export default {
  name: 'RegisterForm',
  components: { UiBottomCard, UiButton },
  data() {
    return {
      credential: {
        login: '',
        password: '',
      },
    };
  },
};
</script>

<style scoped lang="scss">
.text {
  width: 100%;
  color: black;
  text-align: center;
}
</style>
