<template>
  <UiBottomCard>
    <div class="title">Добро <br> пожаловать!</div>
    <div class="subtitle">Авторизуйтесь, чтобы продолжить работу</div>
    <UiButton type="green" class="space-bottom" @click="$emit('go-to', 'AUTH')">
      Войти
    </UiButton>
    <UiButton type="border" @click="$emit('go-to', 'REGISTER')">
      Как зарегистрироваться
    </UiButton>
  </UiBottomCard>
</template>

<script>
import UiBottomCard from '@/components/ui/UiBottomCard';
import UiButton from '@/components/ui/UiButton';

export default {
  name: 'WelcomeInfo',
  components: { UiBottomCard, UiButton },
};
</script>

<style scoped lang="scss">
.title {
  @include font-bold-large-title;
  color: var(--color-text);
  margin-bottom: 16px;
}
.subtitle {
  @include font-regular-caption-1;
  color: black;
  margin-bottom: 16px;
}
</style>
