<template>
  <a class="section">
    <UiIcon color="var(--color-green)" class="icon">
      <slot name="icon" />
    </UiIcon>
    <div>
      <div class="title">{{ title }}</div>
      <div class="text">{{ text }}</div>
    </div>
    <slot />
  </a>
</template>

<script>
import UiIcon from '@/components/ui/UiIcon';

export default {
  name: 'HomeSection',
  props: {
    title: String,
    text: String,
  },
  components: { UiIcon },
};
</script>

<style scoped lang="scss">
.section {
  background-color: var(--color-gray-light);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
.title {
  color: var(--color-text);
  @include font-regular-caption-1;
}
.text {
  color: var(--color-gray-dark-03);
  @include font-regular-caption-2;
}
.icon {
  margin-right: 12px;
}
</style>
