<template>
  <div class="date-block">
    <span class="text-now">Сегодня</span>
    <span class="date">{{ currentDate }}</span>
  </div>
</template>

<script>
export default {
  name: 'HomeDate',
  computed: {
    currentDate() {
      return new Date().toLocaleDateString('ru-RU', { day: '2-digit', month: 'long' });
    },
  },
};
</script>

<style scoped lang="scss">
.date-block {
  display: flex;
  margin-bottom: 12px;
}
.text-now {
  @include font-regular-body;
  color: black;
}
.date {
  @include font-regular-body;
  color: var(--color-gray-dark-03);
  margin-left: 4px;
}
</style>
