<template>
  <div class="header">
    <div class="header-left">
      <div class="address">{{ userAddress }}</div>
      <div class="user-name">{{ userFullName }}</div>
    </div>
    <div class="header-right">
      <UiButtonIcon
        type="border"
        style="color: var(--color-text)"
        @click="$router.push({ name: $screens.CONTACTS_SCREEN })"
      >
        <IconLocation />
      </UiButtonIcon>
      <UiButtonIcon
        type="border"
        style="margin-left: 6px; color: var(--color-error)"
        @click="logout"
      >
        <IconSignOut />
      </UiButtonIcon>
    </div>
  </div>
</template>

<script>
import UiButtonIcon from '@/components/ui/UiButtonIcon';
import { IconLocation, IconSignOut } from '@/components/ui/icons';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { computed } from 'vue';
import screens from '@/router/types';

export default {
  name: 'HomeHeader',
  components: { UiButtonIcon, IconLocation, IconSignOut },
  setup() {
    const store = useStore();
    const router = useRouter();

    const logout = () => {
      store.dispatch('LOGOUT');
      router.replace({ name: screens.AUTH_SCREEN });
    };

    return {
      userAddress: computed(() => store.getters.userAddress),
      userFullName: computed(() => store.getters.userFullName),

      logout,
    };
  },
};
</script>

<style scoped lang="scss">
.header {
  padding: 16px var(--space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
}
.header-right {
  display: flex;
  align-items: center;
}
.address {
  @include font-bold-subheadline;
  color: black;
}
.user-name {
  @include font-regular-caption-1;
  color: var(--color-gray-dark-03);
}
</style>
