<template>
  <div class="banners">
    <swiper class="swiper" :slides-per-view="1.2" :space-between="6">
      <swiper-slide v-for="item in banners" :key="item.id" class="slide">
        <router-link v-if="item.newsId" :to="{ name: $screens.NEWS_DETAIL_SCREEN, params: { id: item.newsId } }">
          <UiImage :src="item.image" :aspect-ratio="17 / 9" alt="Новость" />
        </router-link>

        <a v-else-if="item.link" :href="item.link" target="_blank" ref="nofollow">
          <UiImage :src="item.image" :aspect-ratio="17 / 9" alt="Новость" />
        </a>

        <UiImage v-else :src="item.image" :aspect-ratio="17 / 9" alt="Новость" />
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import UiImage from '@/components/ui/UiImage';
import { useStore } from 'vuex';
import { computed } from 'vue';

export default {
  name: 'HomeBanners',
  props: {
    items: Array,
  },
  components: { Swiper, SwiperSlide, UiImage },
  setup() {
    const store = useStore();

    if (!store.getters.banners?.length) {
      store.dispatch('FETCH_BANNERS');
    }

    return {
      banners: computed(() => store.getters.banners),
    };
  },
};
</script>

<style scoped lang="scss">
.banners {
  margin-left: calc(-1 * var(--space));
  margin-right: calc(-1 * var(--space));
}
.swiper {
  padding-left: var(--space);
  padding-right: var(--space);
}
.slide {
  border-radius: 6px;
  overflow: hidden;
}
</style>
