<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.TICKETS_LIST_SCREEN })" />
    </template>

    <UiPageTitle title="Заявка в аварийно-диспетчерскую службу" :suptitle="userAddress" />

<!--    <UiInput-->
<!--      placeholder="Заголовок"-->
<!--      class="mb"-->
<!--      clearable-->
<!--      :disabled="isLoading"-->
<!--      v-model="ticket.title"-->
<!--    />-->

    <UiInput
      placeholder="Сообщение"
      class="mb"
      clearable
      multiline
      :disabled="isLoading"
      v-model="ticket.question"
    />

    <UiButton type="green" @click="sendTicket" :disabled="isLoading">Отправить заявку</UiButton>

    <UiAlert
      v-model="isShowAlert"
      message="Ваша заявка принята"
      @closed="$router.push({ name: $screens.TICKETS_LIST_SCREEN })"
    />
  </AppLayout>
</template>

<script>
import { computed, reactive, ref } from 'vue';
import { useStore } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiButton from '@/components/ui/UiButton';
import UiPageTitle from '@/components/ui/UiPageTitle';
import UiInput from '@/components/ui/UiInput';
import UiAlert from '@/components/ui/UiAlert';

export default {
  name: 'TicketsCreateScreen',
  components: { AppLayout, AppHeaderOnlyBackButton, UiButton, UiPageTitle, UiInput, UiAlert },
  setup() {
    const store = useStore();

    const ticket = reactive({
      // title: '',
      question: '',
    });

    const isShowAlert = ref(false);
    const sendTicket = async () => {
      await store.dispatch('CREATE_TICKET', ticket.question);

      if (!store.getters.error) {
        isShowAlert.value = true;
        ticket.question = '';
      }
    };

    return {
      ticket,
      userAddress: computed(() => store.getters.userAddress),
      isLoading: computed(() => store.getters.isLoading),

      isShowAlert,
      sendTicket,
    };
  },
};
</script>

<style scoped lang="scss">

</style>
