<template>
  <router-view v-slot="{ Component, route }">
    <transition name="fade-route">
      <component :is="Component" :key="route.path" />
    </transition>
  </router-view>
</template>

<script>
export default {
  name: 'TicketsScreen',
  created() {
    this.$store.dispatch('FETCH_TICKETS');
  },
};
</script>
