<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeader title="Заявки" :subtitle="userAddress">
        <UiButtonIcon type="green" @click="$router.push({ name: $screens.CREATE_TICKETS_SCREEN })">
          <IconPlus />
        </UiButtonIcon>
      </AppHeader>
    </template>

    <UiTabSwitch :tabs="tabs" v-model="activeTab" style="margin-bottom: 12px;" />

    <TicketsList :type="activeTab" />

    <Transition name="fade">
      <UiLoader v-if="isLoading" />
    </Transition>

    <UiButton
      type="border"
      style="margin-top: 12px;"
      v-text="'Написать заявку'"
      @click="$router.push({ name: $screens.CREATE_TICKETS_SCREEN })"
    />
  </AppLayout>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeader from '@/components/AppHeader';
import UiButtonIcon from '@/components/ui/UiButtonIcon';
import { IconPlus } from '@/components/ui/icons';
import UiTabSwitch from '@/components/ui/UiTabSwitch';
import UiButton from '@/components/ui/UiButton';
import TicketsList from './components/TicketsList';

export default {
  name: 'TicketsListScreen',
  components: { AppLayout, AppHeader, UiButtonIcon, IconPlus, UiTabSwitch, UiButton, TicketsList },
  setup() {
    const tabs = { OPENED: 'Активные', CLOSED: 'Закрытые' };
    const activeTab = ref('OPENED');

    const store = useStore();

    return {
      tabs,
      activeTab,

      isLoading: computed(() => store.getters.isLoading),
      userAddress: computed(() => store.getters.userAddress),
    };
  },
};
</script>

<style scoped lang="scss">

</style>
