<template>
	<AppLayoutOnlyContent>
    <div class="splash">
      <img ref="splashImg" :src="require('../../assets/images/splash.png')" alt="">
    </div>

    <transition
      mode="out-in"
      appear
      @before-enter="onBeforeEnter"
      @enter="onEnter"
      @before-leave="onBeforeLeave"
      @leave="onLeave"
    >
      <keep-alive>
        <component :is="viewedComponent" @go-to="(name) => { viewedComponent = viewComponentNames[name] }" />
      </keep-alive>
    </transition>
  </AppLayoutOnlyContent>
</template>

<script>
import { onMounted, ref } from 'vue';
import { gsap } from 'gsap';
import AppLayoutOnlyContent from '@/components/AppLayoutOnlyContent';
import WelcomeInfo from '@/screens/signin/components/WelcomeInfo';
import AuthForm from '@/screens/signin/components/AuthForm';
import RegisterForm from '@/screens/signin/components/RegisterForm';

const DELAY_SHOW_WELCOME_BLOCK = 1; // sec

export default {
  name: 'SignIn',
  components: { AppLayoutOnlyContent, WelcomeInfo, AuthForm, RegisterForm },
  setup() {
    const viewComponentNames = { WELCOME: WelcomeInfo.name, AUTH: AuthForm.name, REGISTER: RegisterForm.name };
    const viewedComponent = ref(null);

    const splashImg = ref(null);

    onMounted(() => {
      setTimeout(() => {
        viewedComponent.value = viewComponentNames.WELCOME;
        splashImg.value.style.transform = 'translateY(-130px)';
      }, DELAY_SHOW_WELCOME_BLOCK * 1000);
    });

    // animation events
    const onBeforeEnter = (el) => { el.style.transform = 'translateY(100%)'; };
    const onEnter = (el) => { gsap.to(el, { transform: 'translateY(0)' }); };

    const onBeforeLeave = (el) => { el.style.transform = 'translateY(0)'; };
    const onLeave = (el) => { gsap.to(el, { transform: 'translateY(100%)' }); };

    return {
      viewComponentNames,
      viewedComponent,

      onBeforeEnter,
      onEnter,
      onBeforeLeave,
      onLeave,

      splashImg,
    };
  },
};
</script>

<style scoped lang="scss">
.splash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100vw;
    max-width: 100vw;
    transition: .45s ease-in-out;
  }
}
</style>
