<template>
  <TransitionGroup
    class="news-list"
    tag="div"
    :css="false"
    @before-enter="beforeEnter"
    @enter="onEnter"
  >
    <NewsListItem
      v-for="(item, i) in items"
      :key="item.id"
      :data-index="i"
      :item="item"
      :is-last="i === items.length - 1"
    />
  </TransitionGroup>
</template>

<script>
import { mapGetters } from 'vuex';
import { gsap } from 'gsap';
import NewsListItem from './NewsListItem';

export default {
  name: 'NewsList',
  props: {
    items: Array,
  },
  components: { NewsListItem },
  computed: {
    ...mapGetters(['page', 'limit']),
  },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0;
      el.style.transform = 'scale(0.8)';
    },
    onEnter(el) {
      const offset = (this.page !== 0 ? this.page - 1 : 0) * this.limit;
      gsap.to(el, {
        opacity: 1,
        transform: 'scale(1)',
        delay: (el.dataset.index - offset) * 0.15,
      });
    },
  },
};
</script>
