<template>
  <div
    @click="$router.push({ name: $screens.NEWS_DETAIL_SCREEN, params: { id: item.id } })"
    :class="['news', { 'is-last': isLast }]"
  >
    <div class="image">
      <UiImage v-if="item.previewPicture" :src="item.previewPicture" :aspect-ratio="17 / 9" />
    </div>
    <div class="title">{{ item.title }}</div>
    <div class="content" v-html="previewText" />
    <div v-if="item.date" class="date">{{ item.date.toLocaleDateString() }}</div>
  </div>
</template>

<script>
import UiImage from '@/components/ui/UiImage';
import utils from '@/utils';

export default {
  name: 'NewsListItem',
  components: { UiImage },
  props: {
    item: Object,
    isLast: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    previewText() {
      return utils.htmlToText(this.item.previewText);
    },
  },
};
</script>

<style scoped lang="scss">
.news {
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid var(--color-gray-light);
  padding: 12px;
  display: flex;
  flex-direction: column;

  &.is-last {
    margin-bottom: 0;
  }
}
.image {
  margin-bottom: 6px;
  position: relative;
}
.title {
  margin-bottom: 6px;
  @include font-bold-caption-1;
  color: black;
}
.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  margin-bottom: 6px;
  @include font-regular-caption-1;
  color: black;
}
.date {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}
</style>
