<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeader title="Новости" :subtitle="userAddress" />
    </template>

    <NewsList ref="scrollComponent" :items="news" />

    <Transition name="fade">
      <UiLoader v-if="!news.length || isLoading" />
    </Transition>
  </AppLayout>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeader from '@/components/AppHeader';
import UiLoader from '@/components/ui/UiLoader';
import NewsList from './components/NewsList';

export default {
  name: 'NewsListScreen',
  components: { AppLayout, AppHeader, NewsList, UiLoader },
  computed: {
    ...mapState({
      news: (state) => state.news.news,
    }),
    ...mapGetters(['isLoading', 'userAddress']),
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  unmounted() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    ...mapActions(['FETCH_NEWS']),
    handleScroll() {
      if (!this.isLoading && this.$refs.scrollComponent.$el.getBoundingClientRect().bottom < window.innerHeight) {
        this.FETCH_NEWS();
      }
    },
  },
};
</script>
