<template>
  <AppLayout>
    <template v-slot:header>
      <AppHeaderOnlyBackButton :on-back="() => $router.push({ name: $screens.NEWS_LIST_SCREEN })" />
    </template>

    <transition mode="out-in">
      <UiLoader v-if="isLoading || !news" />

      <div v-else class="news">
        <UiPageTitle :title="news.title" :suptitle="news.date.toLocaleDateString()" class="news-title" />

        <UiImage
          v-if="news.detailPicture || news.previewPicture"
          :src="news.detailPicture || news.previewPicture"
          :aspect-ratio="2"
          class="news-image"
        />

        <div class="news-content text" v-html="news.detailText || news.previewText" />
      </div>
    </transition>
  </AppLayout>
</template>

<script>
import { mapGetters } from 'vuex';
import AppLayout from '@/components/AppLayout';
import AppHeaderOnlyBackButton from '@/components/AppHeaderOnlyBackButton';
import UiLoader from '@/components/ui/UiLoader';
import UiImage from '@/components/ui/UiImage';
import UiPageTitle from '@/components/ui/UiPageTitle';

export default {
  name: 'NewsDetailScreen',
  components: { AppHeaderOnlyBackButton, AppLayout, UiLoader, UiImage, UiPageTitle },
  data() {
    return {
      news: null,
    };
  },
  computed: {
    ...mapGetters(['isLoading', 'error']),
    newsId() {
      return +this.$route.params.id;
    },
  },
  created() {
    this.$store.dispatch('GET_NEWS_BY_ID', this.newsId).then((news) => {
      if (this.error) {
        this.$router.push({ name: this.$screens.NEWS_LIST_SCREEN });
        return;
      }

      this.news = news;
    });
  },
};
</script>

<style scoped lang="scss">
.news {
  display: flex;
  flex-direction: column;
}
.news-title {
  margin-bottom: 6px;
}
.news-image {
  margin-bottom: 12px;
}
.news-text {
  @include font-regular-body;
  color: black;
}
</style>
