<template>
  <TransitionGroup
    class="tickets-list"
    tag="div"
    :css="false"
    @before-enter="beforeEnter"
    @enter="onEnter"
  >
    <TicketsItem
      v-for="(ticket, i) in tickets[type].reverse()"
      :data-index="i"
      :key="type + i"
      :item="ticket"
      class="ticket-item"
    />
  </TransitionGroup>
</template>

<script>
import TicketsItem from '@/screens/tickets/components/TicketsItem';
import { useStore } from 'vuex';
import { computed, reactive } from 'vue';
import { gsap } from 'gsap';

export default {
  name: 'TicketsList',
  components: { TicketsItem },
  props: {
    type: String,
  },
  setup() {
    const store = useStore();

    const tickets = reactive({
      OPENED: computed(() => store.getters.openedTickets),
      CLOSED: computed(() => store.getters.closedTickets),
    });

    return {
      tickets,
    };
  },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0;
      el.style.transform = 'scale(0.8)';
    },
    onEnter(el) {
      gsap.to(el, {
        opacity: 1,
        transform: 'scale(1)',
        delay: el.dataset.index * 0.15,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.ticket-item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
</style>
