<template>
  <div class="item">
    <div class="content">
      <div class="header">
        <div class="id">#{{ item?.id }}</div>
        <div class="status">
          <div class="status-dot" :style="{ background: item?.answer?.trim() ? 'var(--color-green)' : 'var(--color-error)' }" />
          <div class="status-text">{{ item?.answer?.trim() ? 'Закрытая' : 'Новая заявка' }}</div>
        </div>
      </div>
      <div class="body">{{ item?.question }}</div>
    </div>
    <div v-if="item.dateUpdate" class="date-wrap">
      <div class="date">{{ formatDate(item.dateUpdate) }}</div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import utils from '@/utils';

export default {
  name: 'TicketsItem',
  props: {
    item: Object,
  },
  setup() {
    const statusColor = ref('var(--color-text)');

    const formatDate = (timestamp) => {
      const date = utils.dateFromTimestamp(timestamp);

      return utils.toLocaleDateString(date, date.getFullYear() < new Date().getFullYear()
        ? { month: 'long', day: '2-digit', year: 'numeric' }
        : { month: 'long', day: '2-digit' });
    };

    return {
      statusColor,

      formatDate,
    };
  },
};
</script>

<style scoped lang="scss">
.item {
  padding: 12px;
  border: 1px solid var(--color-gray-light);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  margin-bottom: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.id {
  @include font-bold-caption-1;
  color: black;
}
.status {
  display: flex;
  align-items: center;
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}
.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-right: 6px;
}
.status-text {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}
.body {
  @include font-regular-caption-2;
  margin-bottom: 6px;
  overflow: hidden;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.date {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}
</style>
