<template>
  <vue-final-modal
    :model-value="isShow"
    attach="body"
    transition="slide-down"
    @before-open="beforeOpen"
    @click-outside="cancelForm"
  >
    <UiBottomCard>
      <div class="content">
        <UiTabSwitch :tabs="carsTypes" v-model="car.type" class="mb"/>

        <UiInput v-model="car.carBrand" placeholder="Название" class="mb" />

        <div class="row mb">
          <div class="col50">
            <UiInput
              v-model="car.carNumber"
              placeholder="Номер"
              :mask-pattern="{
                mask: 'A ### AA',
                tokens: { 'A': { pattern: '[а-яА-Я]' } },
                preprocessor: (value) => {
                  return value.toUpperCase();
                },
              }"
            />
          </div>
          <div class="col50">
            <UiInput
              v-model="car.carRegion"
              placeholder="Регион"
              :mask-pattern="{ mask: '###' }"
            />
          </div>
        </div>

        <UiInput
          v-if="car.type === 'GUEST_CAR'"
          type="datetime-local"
          placeholder="Дата"
          class="mb"
          v-model="car.dateStart"
        />

        <UiButton type="green" class="mb" @click="submitCreateAccess">{{ submitBtnText }}</UiButton>

        <hr class="mb" />

        <UiButton type="text-blue" @click="cancelForm">Отменить</UiButton>
      </div>
    </UiBottomCard>
  </vue-final-modal>
</template>

<script>
import { computed, reactive } from 'vue';
import { useStore } from 'vuex';
import { CARS_TYPE } from '@/store/modules/cars';
import UiBottomCard from '@/components/ui/UiBottomCard';
import UiInput from '@/components/ui/UiInput';
import UiButton from '@/components/ui/UiButton';
import UiTabSwitch from '@/components/ui/UiTabSwitch';

export default {
  name: 'CreateAccessForNewCar',
  components: { UiBottomCard, UiInput, UiButton, UiTabSwitch },
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
    type: String,
  },
  emits: ['close'],
  setup(props, { emit }) {
    const store = useStore();

    const car = reactive({
      type: null,
      carBrand: '',
      carNumber: '',
      carRegion: '',
      dateStart: '',
    });

    const beforeOpen = () => { car.type = props.type; };

    const submitBtnText = computed(() => (
      car.type === 'USER_CAR' ? 'Добавить автомобиль' : 'Добавить автомобиль на 24 часа'
    ));

    const clearForm = () => {
      Object.assign(car, { type: 'USER_CAR', carBrand: '', carNumber: '', carRegion: '' });
    };

    const cancelForm = () => {
      clearForm();
      emit('close');
    };

    const submitCreateAccess = () => {
      store.dispatch('CREATE_CAR', car);
      clearForm();
      emit('close');
    };

    return {
      carsTypes: computed(() => ({ USER_CAR: CARS_TYPE.USER_CAR.label, GUEST_CAR: CARS_TYPE.GUEST_CAR.label })),
      car,

      beforeOpen,

      submitBtnText,

      submitCreateAccess,
      clearForm,
      cancelForm,
    };
  },
};
</script>

<style scoped lang="scss">
.content {
  width: 100%;
}
.row {
  display: flex;
  margin-left: -6px;
  margin-right: -6px;
}
.col50 {
  padding-left: 6px;
  padding-right: 6px;
  width: 50%;
}
.mb {
  margin-bottom: 12px;
}
</style>
