<template>
  <vue-final-modal
    :model-value="isShow"
    attach="body"
    @click-outside="$emit('close')"
    transition="slide-down"
  >
    <UiBottomCard>
      <div class="content">
        <UiInput v-model="car.carBrand" placeholder="Название" class="mb" />

        <div class="row mb">
          <div class="col50">
            <UiInput
              v-model="car.carNumber"
              placeholder="Номер"
              :mask-pattern="{
                mask: 'A ### AA',
                tokens: { 'A': { pattern: '[а-яА-Я]' } },
                preprocessor: (value) => {
                  return value.toUpperCase();
                },
              }"
            />
          </div>
          <div class="col50">
            <UiInput
              v-model="car.carRegion"
              placeholder="Регион"
              :mask-pattern="{ mask: '###' }"
            />
          </div>
        </div>

        <UiInput
          v-if="car.isGuest"
          type="datetime-local"
          placeholder="Дата"
          class="mb"
          v-model="car.dateStart"
        />

        <UiButton type="green" class="mb" @click="submitEditAccess">Сохранить изменения</UiButton>

        <hr class="mb" />

        <UiButton type="text-red" @click="removeCar">Удалить пропуск</UiButton>
      </div>
    </UiBottomCard>
  </vue-final-modal>
</template>

<script>
import { reactive } from 'vue';
import UiBottomCard from '@/components/ui/UiBottomCard';
import UiInput from '@/components/ui/UiInput';
import UiButton from '@/components/ui/UiButton';
import { useStore } from 'vuex';
import DateFormating from '@/Services/DateFormating';

const MILLISECONDS_IN_DAY = 1000 * 60 * 60 * 24;

export default {
  name: 'EditAccessForCar',
  components: { UiBottomCard, UiInput, UiButton },
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['close'],
  setup(props, { emit }) {
    const store = useStore();

    const car = reactive({
      id: null,
      isGuest: false,
      carBrand: '',
      carNumber: '',
      carRegion: '',
      dateStart: '',
    });

    const removeCar = () => {
      emit('close');
      store.dispatch('REMOVE_CAR', car.id);
    };

    return {
      car,

      removeCar,
    };
  },
  methods: {
    setCar(car) {
      if (car.id) {
        this.car = {
          id: car.id,
          carBrand: car.carBrand,
          isGuest: car.carBrand,
          carNumber: car.carNumber,
          carRegion: car.carRegion,
          dateStart: car.lockedTo ? DateFormating.getISOString(new Date(car.lockedTo.getTime() - MILLISECONDS_IN_DAY)) : null,
        };
      } else {
        this.car = {
          id: null,
          carBrand: '',
          isGuest: false,
          carNumber: '',
          carRegion: '',
          dateStart: '',
        };
      }
    },
    submitEditAccess() {
      this.$store.dispatch('UPDATE_CAR', this.car).then(() => {
        this.$emit('close');
      });
    },
  },
};
</script>

<style scoped lang="scss">
.row {
  display: flex;
  margin-left: -6px;
  margin-right: -6px;
}
.col50 {
  padding-left: 6px;
  padding-right: 6px;
  width: 50%;
}
</style>
