<template>
  <header class="header">
    <UiButtonIcon type="transparent" @click="goBack">
      <IconChevronLeft />
    </UiButtonIcon>
    <slot />
  </header>
</template>

<script>
import UiButtonIcon from '@/components/ui/UiButtonIcon';
import { IconChevronLeft } from '@/components/ui/icons';

export default {
  name: 'AppHeaderOnlyBackButton',
  props: {
    title: String,
    subtitle: String,
    onBack: Function,
  },
  components: { UiButtonIcon, IconChevronLeft },
  methods: {
    goBack() {
      if (this.onBack) {
        this.onBack();
        return;
      }

      this.$router.back();
    },
  },
};
</script>

<style scoped lang="scss">
.header {
  height: 76px;
  padding: 16px var(--space);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
