<template>
  <header class="header">
    <div class="header-container">
      <div class="header-wrap">
        <div v-if="title" class="title">{{ title }}</div>
        <div v-if="subtitle" class="subtitle">{{ subtitle }}</div>
      </div>
      <slot />
    </div>
  </header>
</template>

<script>
export default {
  name: 'AppHeader',
  props: {
    title: String,
    subtitle: String,
  },
};
</script>

<style scoped lang="scss">
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  padding: 16px var(--space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.title {
  @include font-regular-title-1;
  color: var(--color-text);
}
.subtitle {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
}
</style>
