<template>
  <div class="layout">
    <div class="header">
      <slot name="header" />
    </div>

    <main class="content">
      <slot />
    </main>
  </div>
</template>

<script>
export default {
  name: 'AppLayout',
};
</script>

<style scoped lang="scss">
.layout {
  background-color: var(--color-gray-light-06);
  position: relative;
  padding-top: 76px;
  padding-bottom: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @supports(padding: max(0px)) {
    padding-top: max(100px, calc(env(safe-area-inset-top) + 76px));
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  @supports(padding: max(0px)) {
    padding-top: max(24px, env(safe-area-inset-top));
  }
}
.content {
  position: relative;
  padding: 24px var(--space);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: white;
  z-index: 10;
  flex-grow: 1;
}
</style>
