<template>
  <div class="layout">
    <main class="content">
      <slot />
    </main>
  </div>
</template>

<script>
export default {
  name: 'AppLayoutOnlyContent',
};
</script>

<style scoped lang="scss">
.layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-light-06);
}
.content {
  background-color: var(--color-gray-light-06);
  position: relative;
  padding: 24px var(--space);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 10;
  flex-grow: 1;
}
</style>
