<template>
  <div class="info">
    <transition mode="out-in" name="fade">
      <UiLoader v-if="!contacts" />

      <div v-else class="info-block">
          <ContactsInfoItem v-if="address" title="Адрес" :text="address">
            <template #icon><IconLocation /></template>
          </ContactsInfoItem>

          <ContactsInfoItem v-if="address" title="Телефон" :text="phone">
            <template #icon><IconPhone /></template>
          </ContactsInfoItem>

          <ContactsInfoItem v-if="address" title="Эл. почта" :text="address">
            <template #icon><IconMessage /></template>
          </ContactsInfoItem>
        </div>
    </transition>

    <div>
      <div class="text-block-title">Общество с ограниченной ответственностью «Управляющая компания «Сосны»</div>
      <div v-if="urInfo" class="text-block-content" v-html="urInfo" />
    </div>
  </div>
</template>

<script>
import { IconLocation, IconPhone, IconMessage } from '@/components/ui/icons';
import ContactsInfoItem from '@/screens/contacts/components/ContactsInfoItem';
import UiLoader from '@/components/ui/UiLoader';
import { useStore } from 'vuex';
import { computed } from 'vue';

export default {
  name: 'ContactInfo',
  components: { ContactsInfoItem, IconLocation, IconPhone, IconMessage, UiLoader },
  setup() {
    const store = useStore();

    return {
      contacts: computed(() => store.getters.contacts),
      address: computed(() => store.getters.address),
      phone: computed(() => store.getters.phone),
      email: computed(() => store.getters.email),
      urInfo: computed(() => store.getters.urInfo),
    };
  },
};
</script>

<style scoped lang="scss">
.info-block {
  padding: 16px;
  background-color: var(--color-gray-light);
  border-radius: 6px;
  margin-bottom: 24px;
}
.text-block-title {
  @include font-bold-caption-1;
  margin-bottom: 12px;
  color: black;
}
.text-block-content {
  @include font-regular-caption-2;
  color: black;
}
</style>
