<template>
  <div class="item">
    <div class="icon">
      <UiIcon :size="24" style="color: var(--color-green)" class="icon">
        <slot name="icon" />
      </UiIcon>
    </div>
    <div class="content">
      <div class="title">{{ title }}</div>
      <div class="text" >{{ text }}</div>
    </div>
  </div>
</template>

<script>
import UiIcon from '@/components/ui/UiIcon';

export default {
  name: 'ContactsInfoItem',
  components: { UiIcon },
  props: {
    title: String,
    text: String,
  },
};
</script>

<style scoped lang="scss">
.item {
  margin-bottom: 16px;
  display: flex;
}
.icon {
  margin-right: 12px;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title {
  @include font-regular-caption-2;
  margin-bottom: 2px;
  color: var(--color-gray-dark-03);
}
.text {
  @include font-regular-caption-1;
  color: black;
}
</style>
