<template>
  <div class="map-wrap">
    <yandexMap
      :settings="settings"
      :coords="coordinates"
      :zoom="14"
      class="yandex-map"
    >
      <ymapMarker marker-id="company" :coords="coordinates" />
    </yandexMap>
  </div>
</template>

<script>
import { yandexMap, ymapMarker } from 'vue-yandex-maps';
import { useStore } from 'vuex';
import { computed } from 'vue';

export default {
  name: 'ContactMap',
  components: { yandexMap, ymapMarker },
  setup() {
    const store = useStore();

    return {
      settings: {
        apiKey: process.env.VUE_APP_YANDEX_MAP_API_KEY,
      },
      contacts: computed(() => store.getters.contacts),
      coordinates: computed(() => store.getters.coordinates),
    };
  },
};
</script>

<style scoped lang="scss">
.map-wrap {
  margin-left: calc(-1 * var(--space));
  margin-right: calc(-1 * var(--space));
}
.yandex-map {
  width: 100%;
  height: calc(100vh - 200px);
}
</style>
