<template>
	<path d="M22.3191 4.43101L8.50012 18.249C8.40721 18.3423 8.2968 18.4163 8.17522 18.4668C8.05363 18.5173 7.92327 18.5433 7.79162 18.5433C7.65997 18.5433 7.52961 18.5173 7.40803 18.4668C7.28644 18.4163 7.17603 18.3423 7.08312 18.249L1.73912 12.9C1.64621 12.8067 1.5358 12.7327 1.41422 12.6822C1.29263 12.6317 1.16228 12.6057 1.03062 12.6057C0.898968 12.6057 0.768609 12.6317 0.647027 12.6822C0.525444 12.7327 0.415031 12.8067 0.322121 12.9C0.228844 12.9929 0.154832 13.1033 0.10433 13.2249C0.0538287 13.3465 0.027832 13.4769 0.027832 13.6085C0.027832 13.7402 0.0538287 13.8705 0.10433 13.9921C0.154832 14.1137 0.228844 14.2241 0.322121 14.317L5.66812 19.662C6.23207 20.2249 6.99632 20.5411 7.79312 20.5411C8.58992 20.5411 9.35417 20.2249 9.91812 19.662L23.7361 5.84701C23.8292 5.75412 23.9031 5.64377 23.9535 5.52228C24.004 5.40079 24.0299 5.27054 24.0299 5.13901C24.0299 5.00747 24.004 4.87723 23.9535 4.75574C23.9031 4.63425 23.8292 4.5239 23.7361 4.43101C23.6432 4.33773 23.5328 4.26372 23.4112 4.21322C23.2896 4.16272 23.1593 4.13672 23.0276 4.13672C22.896 4.13672 22.7656 4.16272 22.644 4.21322C22.5224 4.26372 22.412 4.33773 22.3191 4.43101Z"/>
</template>

<script>
export default {
  name: 'IconCheck',
};
</script>
