<template>
	<path d="M18.7069 8.20685C18.5194 8.01938 18.2651 7.91406 17.9999 7.91406C17.7348 7.91406 17.4804 8.01938 17.2929 8.20685L12.7069 12.7928C12.5168 12.9753 12.2635 13.0772 11.9999 13.0772C11.7364 13.0772 11.4831 12.9753 11.2929 12.7928L6.70692 8.20685C6.51832 8.02469 6.26571 7.9239 6.00352 7.92617C5.74132 7.92845 5.49051 8.03362 5.3051 8.21903C5.11969 8.40444 5.01452 8.65525 5.01224 8.91745C5.00997 9.17964 5.11076 9.43225 5.29292 9.62085L9.87792 14.2068C10.1565 14.4855 10.4872 14.7065 10.8513 14.8573C11.2153 15.0081 11.6054 15.0857 11.9994 15.0857C12.3934 15.0857 12.7836 15.0081 13.1476 14.8573C13.5116 14.7065 13.8423 14.4855 14.1209 14.2068L18.7069 9.62085C18.8944 9.43332 18.9997 9.17901 18.9997 8.91385C18.9997 8.64868 18.8944 8.39438 18.7069 8.20685Z"/>
</template>

<script>
export default {
  name: 'IconChevronDown',
};
</script>
