<template>
  <path d="M11.5757 2.57572C11.8101 2.34141 12.1899 2.34141 12.4243 2.57572C13.0623 3.21383 14.59 5.05175 15.9598 7.25853C17.3156 9.443 18.6 12.1182 18.6 14.4C18.6 16.6126 17.9664 18.4225 16.7886 19.6844C15.607 20.9504 13.9377 21.6 12 21.6C10.0623 21.6 8.39301 20.9504 7.21134 19.6844C6.03361 18.4225 5.39999 16.6126 5.39999 14.4C5.39999 12.1182 6.68434 9.443 8.04021 7.25853C9.40994 5.05175 10.9376 3.21383 11.5757 2.57572ZM9.05981 7.8914C7.71561 10.057 6.59999 12.4817 6.59999 14.4C6.59999 16.3874 7.16641 17.8775 8.08861 18.8656C9.00701 19.8496 10.3377 20.4 12 20.4C13.6623 20.4 14.993 19.8496 15.9113 18.8656C16.8336 17.8775 17.4 16.3874 17.4 14.4C17.4 12.4817 16.2843 10.057 14.9402 7.8914C13.8691 6.16573 12.7059 4.68715 12 3.88323C11.2941 4.68715 10.1309 6.16573 9.05981 7.8914Z"/>
</template>

<script>
export default {
  name: 'IconWater2',
};
</script>
