<template>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6272 24 12C24 5.3727 18.6274 0 12 0C5.37257 0 0 5.3727 0 12C0 18.6272 5.37257 24 12 24ZM17.3163 6.68383C17.7573 7.12465 17.7573 7.83984 17.3163 8.28102L13.5972 12L17.3163 15.719C17.7573 16.1602 17.7573 16.8754 17.3163 17.3161C16.8752 17.7573 16.16 17.7573 15.719 17.3161L12 13.5971L8.28097 17.3161C7.83993 17.7573 7.12482 17.7573 6.68373 17.3161C6.2427 16.8754 6.2427 16.1602 6.68373 15.719L10.4028 12L6.68373 8.28102C6.2427 7.83984 6.2427 7.12465 6.68373 6.68383C7.12478 6.24265 7.83988 6.24265 8.28097 6.68383L12 10.4028L15.719 6.68383C16.16 6.24265 16.8752 6.24265 17.3163 6.68383Z"/>
</template>

<script>
export default {
  name: 'IconClose',
};
</script>
