<template>
	<g>
		<g clip-path="url(#clip0_68_963)">
			<path d="M17.9939 2.28589C16.7733 1.19543 15.2785 0.458472 13.6703 0.15432C12.062 -0.149833 10.4013 -0.00966173 8.86679 0.559747C7.33228 1.12916 5.9821 2.10625 4.96156 3.38586C3.94101 4.66548 3.28874 6.19917 3.07493 7.82189C2.88291 9.24474 3.03648 10.6929 3.52265 12.0438C4.00881 13.3948 4.81327 14.6087 5.86793 15.5829C6.52013 16.1548 7.04641 16.856 7.41341 17.642C7.78042 18.428 7.98014 19.2817 7.99993 20.1489V20.3099C8.00099 21.2882 8.39009 22.2262 9.08187 22.9179C9.77365 23.6097 10.7116 23.9988 11.6899 23.9999H12.3099C13.2883 23.9988 14.2262 23.6097 14.918 22.9179C15.6098 22.2262 15.9989 21.2882 15.9999 20.3099V19.7609C16.0149 18.9944 16.1953 18.2401 16.5287 17.5497C16.8622 16.8593 17.3408 16.2492 17.9319 15.7609C18.8905 14.9213 19.6598 13.8877 20.1887 12.7284C20.7177 11.5691 20.9942 10.3106 21.0001 9.03636C21.0059 7.76211 20.741 6.50116 20.2227 5.33704C19.7045 4.17293 18.9448 3.13223 17.9939 2.28389V2.28589ZM12.3099 21.9999H11.6899C11.2419 21.9994 10.8123 21.8211 10.4955 21.5043C10.1787 21.1875 10.0005 20.7579 9.99993 20.3099C9.99993 20.3099 9.99293 20.0499 9.99193 19.9999H13.9999V20.3099C13.9994 20.7579 13.8212 21.1875 13.5044 21.5043C13.1875 21.8211 12.758 21.9994 12.3099 21.9999ZM16.6099 14.2589C15.4714 15.2464 14.6491 16.5476 14.2459 17.9999H12.9999V10.8159C13.5828 10.6098 14.0878 10.2287 14.4458 9.72459C14.8038 9.22052 14.9974 8.61815 14.9999 7.99989C14.9999 7.73467 14.8946 7.48032 14.707 7.29278C14.5195 7.10525 14.2651 6.99989 13.9999 6.99989C13.7347 6.99989 13.4804 7.10525 13.2928 7.29278C13.1053 7.48032 12.9999 7.73467 12.9999 7.99989C12.9999 8.26511 12.8946 8.51946 12.707 8.707C12.5195 8.89453 12.2651 8.99989 11.9999 8.99989C11.7347 8.99989 11.4804 8.89453 11.2928 8.707C11.1053 8.51946 10.9999 8.26511 10.9999 7.99989C10.9999 7.73467 10.8946 7.48032 10.707 7.29278C10.5195 7.10525 10.2651 6.99989 9.99993 6.99989C9.73471 6.99989 9.48036 7.10525 9.29282 7.29278C9.10529 7.48032 8.99993 7.73467 8.99993 7.99989C9.00249 8.61815 9.19601 9.22052 9.55402 9.72459C9.91202 10.2287 10.417 10.6098 10.9999 10.8159V17.9999H9.67793C9.22692 16.5091 8.38105 15.1681 7.22993 14.1189C6.25288 13.2085 5.55665 12.0376 5.2234 10.7444C4.89014 9.45116 4.93377 8.08961 5.34914 6.82038C5.7645 5.55116 6.53427 4.42724 7.5676 3.58125C8.60092 2.73527 9.85468 2.20252 11.1809 2.04589C11.4559 2.0152 11.7323 1.99984 12.0089 1.99989C13.7265 1.99478 15.3846 2.62851 16.6609 3.77789C17.4006 4.43749 17.9917 5.24678 18.3949 6.15211C18.7981 7.05745 19.0043 8.03815 18.9997 9.02921C18.9952 10.0203 18.78 10.999 18.3685 11.9006C17.9571 12.8022 17.3586 13.6061 16.6129 14.2589H16.6099Z"/>
		</g>
		<defs>
			<clip-path id="clip0_68_963">
				<rect width="24" height="24" fill="white"/>
			</clip-path>
		</defs>
	</g>
</template>

<script>
export default {
  name: 'IconLightBulb',
};
</script>
