<template>
	<g>
		<path d="M10.1528 5.55534C10.2037 5.65901 10.2373 5.77003 10.2524 5.88415L10.5308 10.0241L10.669 12.1049C10.6705 12.3189 10.704 12.5315 10.7687 12.7359C10.9356 13.1324 11.3372 13.3844 11.7741 13.3668L18.4313 12.9314C18.7196 12.9266 18.998 13.0344 19.2052 13.2311C19.3779 13.395 19.4894 13.6094 19.5246 13.84L19.5364 13.98C19.2609 17.7947 16.4592 20.9765 12.6524 21.7978C8.84555 22.6191 4.94186 20.8841 3.06071 17.5347C2.51839 16.5616 2.17965 15.4921 2.06438 14.3888C2.01623 14.0622 1.99503 13.7323 2.00098 13.4024C1.99503 9.31255 4.90747 5.77677 8.98433 4.92438C9.47501 4.84798 9.95603 5.10774 10.1528 5.55534Z"/>
		<path opacity="0.4" d="M12.8701 2.00082C17.43 2.11683 21.2624 5.39579 22.0001 9.81229L21.993 9.84488L21.9729 9.89227L21.9757 10.0224C21.9652 10.1947 21.8987 10.3605 21.784 10.4945C21.6646 10.634 21.5014 10.729 21.3217 10.7659L21.2121 10.7809L13.5313 11.2786C13.2758 11.3038 13.0214 11.2214 12.8314 11.052C12.6731 10.9107 12.5719 10.7201 12.5433 10.5147L12.0277 2.84506C12.0188 2.81913 12.0188 2.79102 12.0277 2.76508C12.0348 2.55367 12.1278 2.35384 12.2861 2.21023C12.4444 2.06662 12.6547 1.9912 12.8701 2.00082Z"/>
	</g>
</template>

<script>
export default {
  name: 'IconGraph',
};
</script>
