<template>
  <path d="M11.4 7.80287C11.4 7.47147 11.6687 7.20287 12 7.20287C12.3314 7.20287 12.6 7.47147 12.6 7.80287V9.00467C12.6 9.33607 12.3314 9.60467 12 9.60467C11.6687 9.60467 11.4 9.33607 11.4 9.00467V7.80287ZM15.4207 8.932C15.1864 8.69767 14.8065 8.69767 14.5722 8.932L13.7224 9.7818C13.4881 10.0161 13.4881 10.396 13.7224 10.6303C13.9567 10.8647 14.3366 10.8647 14.5709 10.6303L15.4207 9.78047C15.6551 9.5462 15.6551 9.16627 15.4207 8.932ZM9.42253 8.932C9.1882 8.69767 8.80833 8.69767 8.574 8.932C8.33966 9.16627 8.33966 9.5462 8.574 9.78047L9.4238 10.6303C9.65813 10.8647 10.0381 10.8647 10.2723 10.6303C10.5067 10.396 10.5067 10.0161 10.2723 9.7818L9.42253 8.932ZM12 2.39999C15.9765 2.39999 19.2 5.5163 19.2 9.36047C19.2 11.3728 18.3055 13.2197 16.5553 14.8731C16.4789 14.9453 16.4197 15.0322 16.3814 15.1278L16.3502 15.226L15.2269 19.9261C15.0057 20.8515 14.1883 21.522 13.2218 21.5936L13.0497 21.6H10.9505C9.96786 21.6 9.108 20.9807 8.8184 20.0862L8.77333 19.9255L7.65153 15.2263C7.61946 15.0919 7.5482 14.9693 7.4462 14.8731C5.77836 13.2983 4.88718 11.5482 4.80609 9.6468L4.8 9.36047L4.80386 9.13073C4.92925 5.39289 8.10306 2.39999 12 2.39999ZM9.546 18L9.92866 19.6012L9.96006 19.7166C10.0763 20.0757 10.411 20.342 10.8139 20.3916L10.9505 20.4L13.0055 20.4008L13.1331 20.3969C13.5438 20.3665 13.8871 20.1131 14.0225 19.7661L14.0598 19.6472L14.454 18H9.546ZM12 3.59999C8.8414 3.59999 6.25426 5.94359 6.01812 8.89627L6.00368 9.1508L5.99974 9.335L6.005 9.59567C6.07173 11.1603 6.81313 12.6249 8.27 14.0005C8.49593 14.2138 8.66633 14.4777 8.76686 14.7694L8.81873 14.9476L9.2592 16.8H11.4003V11.3965C11.4003 11.0651 11.6689 10.7965 12.0003 10.7965C12.3317 10.7965 12.6003 11.0651 12.6003 11.3965V16.8H14.742L15.2067 14.8621L15.2677 14.6811C15.3709 14.4237 15.5291 14.1917 15.7313 14.0008C17.259 12.5575 18 11.0166 18 9.36047C18 6.18829 15.3227 3.59999 12 3.59999Z"/>
</template>

<script>
export default {
  name: 'IconLightBulb2',
};
</script>
