<template>
	<g>
		<path opacity="0.4" d="M19.9927 18.9531H14.2984C13.7429 18.9531 13.291 19.4121 13.291 19.9765C13.291 20.5419 13.7429 20.9999 14.2984 20.9999H19.9927C20.5483 20.9999 21.0001 20.5419 21.0001 19.9765C21.0001 19.4121 20.5483 18.9531 19.9927 18.9531Z"/>
		<path d="M10.309 6.9041L15.7049 11.2642C15.835 11.3685 15.8573 11.5598 15.7557 11.6931L9.35874 20.0284C8.95662 20.5434 8.36402 20.8347 7.72908 20.8454L4.23696 20.8884C4.05071 20.8906 3.88775 20.7616 3.84542 20.5767L3.05175 17.126C2.91419 16.4918 3.05175 15.836 3.45388 15.3308L9.88256 6.95569C9.98627 6.82132 10.1778 6.79767 10.309 6.9041Z"/>
		<path opacity="0.4" d="M18.1208 8.66544L17.0806 9.96401C16.9758 10.0962 16.7874 10.1177 16.6573 10.0124C15.3927 8.98901 12.1545 6.36285 11.2561 5.63509C11.1249 5.52759 11.1069 5.33625 11.2127 5.20295L12.2159 3.95706C13.126 2.78534 14.7133 2.67784 15.9938 3.69906L17.4647 4.87078C18.0679 5.34377 18.47 5.96726 18.6076 6.62299C18.7663 7.3443 18.597 8.0527 18.1208 8.66544Z"/>
	</g>
</template>

<script>
export default {
  name: 'IconEdit',
};
</script>
