<template>
	<path d="M22.6927 13.6622L20.7927 6.82618C20.2358 4.82351 19.0254 3.06447 17.354 1.82865C15.6826 0.592831 13.6461 -0.0488349 11.5681 0.00564524C9.4902 0.0601253 7.49009 0.807625 5.88574 2.12933C4.28139 3.45103 3.16488 5.27108 2.71368 7.30018L1.24268 13.9152C1.08019 14.6461 1.08395 15.4042 1.25367 16.1335C1.42339 16.8628 1.75474 17.5446 2.22326 18.1287C2.69178 18.7128 3.2855 19.1842 3.96059 19.5081C4.63568 19.832 5.3749 20.0002 6.12368 20.0002H7.23768C7.46719 21.1305 8.08041 22.1467 8.97342 22.8766C9.86643 23.6065 10.9843 24.0052 12.1377 24.0052C13.291 24.0052 14.4089 23.6065 15.3019 22.8766C16.1949 22.1467 16.8082 21.1305 17.0377 20.0002H17.8757C18.6465 20.0002 19.4069 19.8221 20.0974 19.4796C20.788 19.1372 21.39 18.6397 21.8565 18.026C22.323 17.4124 22.6413 16.6992 22.7865 15.9422C22.9317 15.1852 22.8999 14.4049 22.6937 13.6622H22.6927ZM12.1377 22.0002C11.5194 21.9976 10.917 21.8041 10.413 21.4461C9.90891 21.0881 9.52776 20.5831 9.32168 20.0002H14.9537C14.7476 20.5831 14.3664 21.0881 13.8624 21.4461C13.3583 21.8041 12.7559 21.9976 12.1377 22.0002ZM20.2637 16.8152C19.985 17.1848 19.624 17.4844 19.2093 17.6901C18.7946 17.8958 18.3376 18.002 17.8747 18.0002H6.12368C5.67446 18.0001 5.231 17.8991 4.82602 17.7048C4.42104 17.5104 4.06488 17.2275 3.78384 16.8771C3.50279 16.5266 3.30404 16.1176 3.20224 15.68C3.10044 15.2425 3.0982 14.7877 3.19568 14.3492L4.66568 7.73318C5.02003 6.13939 5.89698 4.70978 7.15713 3.67163C8.41728 2.63347 9.9883 2.04635 11.6205 2.00359C13.2526 1.96083 14.8522 2.4649 16.165 3.43565C17.4778 4.4064 18.4284 5.78813 18.8657 7.36118L20.7657 14.1972C20.8912 14.6425 20.9112 15.1111 20.8241 15.5655C20.7369 16.02 20.5451 16.4478 20.2637 16.8152Z"/>
</template>

<script>
export default {
  name: 'IconBell',
};
</script>
