<template>
	<path d="M10.5999 12.7069C10.4124 12.5194 10.3071 12.2651 10.3071 11.9999C10.3071 11.7348 10.4124 11.4804 10.5999 11.2929L15.1849 6.70692C15.3671 6.51832 15.4679 6.26571 15.4656 6.00352C15.4633 5.74132 15.3581 5.49051 15.1727 5.3051C14.9873 5.11969 14.7365 5.01452 14.4743 5.01224C14.2121 5.00997 13.9595 5.11076 13.7709 5.29292L9.18891 9.87892C8.62649 10.4415 8.31055 11.2044 8.31055 11.9999C8.31055 12.7954 8.62649 13.5583 9.18891 14.1209L13.7749 18.7069C13.9635 18.8891 14.2161 18.9899 14.4783 18.9876C14.7405 18.9853 14.9913 18.8801 15.1767 18.6947C15.3621 18.5093 15.4673 18.2585 15.4696 17.9963C15.4719 17.7341 15.3711 17.4815 15.1889 17.2929L10.5999 12.7069Z"/>
</template>

<script>
export default {
  name: 'IconChevronLeft',
};
</script>
