<template>
  <path d="M19.1999 8.4C19.1999 8.81093 19.1586 9.21227 19.0799 9.6H19.9979C20.8827 9.6 21.6 10.3173 21.6 11.2021V15.6C21.6 18.9137 18.9137 21.6 15.6 21.6C14.1593 21.6 12.8371 21.0922 11.8028 20.2458L10.6243 21.4243C10.39 21.6585 10.0101 21.6585 9.77581 21.4243C9.54147 21.1899 9.54147 20.81 9.77581 20.5757L10.9543 19.3973C10.56 18.9155 10.2393 18.3713 10.009 17.7818C9.49694 17.924 8.95734 18 8.40001 18C5.08628 18 2.39999 15.3137 2.39999 12V7.60207C2.39999 6.71727 3.11726 5.99999 4.00205 5.99999H7.69921C8.62507 3.8809 10.7395 2.39999 13.1999 2.39999H17.5979C18.4827 2.39999 19.1999 3.11725 19.1999 4.00205V8.4ZM9.02374 6.03201C11.2951 6.26662 13.1904 7.76827 13.9909 9.8182C14.503 9.676 15.0426 9.6 15.6 9.6H17.8487C17.9475 9.21647 17.9999 8.81433 17.9999 8.4V4.00205C17.9999 3.77999 17.8199 3.59999 17.5979 3.59999H13.1999C11.4101 3.59999 9.84901 4.57965 9.02374 6.03201ZM12.6567 19.3919C13.4695 20.0237 14.4908 20.4 15.6 20.4C18.2509 20.4 20.4 18.2509 20.4 15.6V11.2021C20.4 10.98 20.22 10.8 19.9979 10.8H15.6C12.949 10.8 10.8 12.949 10.8 15.6C10.8 16.7092 11.1763 17.7306 11.8081 18.5434L15.7758 14.5757C16.0101 14.3414 16.39 14.3414 16.6243 14.5757C16.8587 14.81 16.8587 15.1899 16.6243 15.4243L12.6567 19.3919ZM9.60001 15.6C9.60001 15.1216 9.65594 14.6563 9.76174 14.2103L6.77574 11.2243C6.54141 10.99 6.54141 10.6101 6.77574 10.3758C7.01007 10.1415 7.38994 10.1415 7.62427 10.3758L10.2098 12.9613C10.7811 11.7966 11.7188 10.8441 12.8727 10.2543C12.1743 8.46647 10.4351 7.2 8.40001 7.2H4.00205C3.78 7.2 3.59999 7.38 3.59999 7.60207V12C3.59999 14.6509 5.74903 16.8 8.40001 16.8C8.84587 16.8 9.27761 16.7392 9.68727 16.6254C9.62987 16.2922 9.60001 15.9496 9.60001 15.6Z"/>
</template>

<script>
export default {
  name: 'IconLeaf',
};
</script>
