<template>
  <div class="container">
    <div class="header">
      <UiIcon size="16"><component :is="indicatorIcon(meters.serviceName)"/></UiIcon>
      <div class="header-title">
        <span v-html="indicatorName(meters.serviceName)" />
        <template v-if="meters.name"> ({{ indicatorDescription(meters.name) }})</template>
      </div>
    </div>

    <div class="body">
      <div class="indicator" :style="{ width: '24%' }">
        <div class="indicator-title">Предыдущие</div>
        <div class="indicator-value">{{ prevVal }}</div>
      </div>
      <div class="indicator" :style="{ width: '16%' }">
        <div class="indicator-title">Текущие</div>
        <UiInput
          v-model="currentVal"
          :min="prevVal"
          type="number"
          placeholder="0"
          class="indicator-value-input"
          @input="(event) => handlerChangeCurrentVal(event.target.value)"
          @blur="() => handlerChangeCurrentVal(currentVal)"
        />
      </div>
      <div class="indicator" :style="{ width: '16%' }">
        <div class="indicator-title">Разница</div>
        <UiInput
          v-model="difference"
          :min="0"
          type="number"
          placeholder="0"
          class="indicator-value-input"
          @input="(event) => handlerChangeDifference(event.target.value)"
          @blur="() => handlerChangeDifference(difference)"
        />
      </div>
      <UiButton type="green" :style="{ width: '30%' }" @click="send">Передать</UiButton>
    </div>
  </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import UiButton from '@/components/ui/UiButton';
import UiInput from '@/components/ui/UiInput';
import UiIcon from '@/components/ui/UiIcon';
import { IconWater, IconLightBulb } from '@/components/ui/icons';

export default {
  name: 'MetersDataIndicator',
  props: {
    meters: Object,
  },
  components: { UiButton, UiInput, UiIcon, IconWater, IconLightBulb },
  emits: ['sent'],
  setup(props, { emit }) {
    const store = useStore();

    const prevVal = computed(() => (Math.round((props.meters?.lastValue?.value1 || 0) * 1000) / 1000));
    const currentVal = ref(prevVal.value);

    const indicatorName = (name) => {
      if (/вод/.test(name.toLowerCase())) {
        return 'Водоснабжение, м<sup>3</sup>';
      }

      if (/электр/.test(name.toLowerCase())) {
        return 'Электроэнергия, кВт';
      }

      return name;
    };

    const indicatorIcon = (name) => {
      if (/вод/.test(name.toLowerCase())) {
        return 'IconWater';
      }

      if (/электр/.test(name.toLowerCase())) {
        return 'IconLightBulb';
      }

      return '';
    };

    const indicatorDescription = (name) => {
      const [, bill] = name.split('л/с');

      return bill ? `л/с ${bill}` : name;
    };

    const difference = ref(Math.round((+currentVal.value - prevVal.value) * 1000) / 1000);

    const handlerChangeCurrentVal = (val) => {
      difference.value = Math.round((+val - prevVal.value) * 1000) / 1000;
    };

    const handlerChangeDifference = (val) => {
      currentVal.value = Math.round((+prevVal.value + +val) * 1000) / 1000;
    };

    const send = () => {
      store.dispatch('SEND_METERS_DATA', {
        meters: props.meters.id,
        value: currentVal.value,
      }).then((success) => {
        if (success) {
          emit('sent');
          setTimeout(() => {
            handlerChangeCurrentVal(prevVal.value);
          }, 0);
        }
      });
    };

    return {
      currentVal,
      prevVal,
      difference,

      indicatorName,
      indicatorIcon,
      indicatorDescription,

      handlerChangeCurrentVal,
      handlerChangeDifference,

      send,
    };
  },
};
</script>

<style scoped lang="scss">
.header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.header-title {
  @include font-regular-caption-1;
  color: black;
  margin-left: 10px;
}
.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.indicator-title {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
  font-size: 12px;
  margin-bottom: 2px;
}
.indicator-value-text {
  @include font-regular-body;
  color: black;
}
.indicator-value-input {
  @include font-regular-body;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-divider);

  & ::v-deep input {
    padding: 0 !important;
    background: transparent;
    outline: none;
    border-radius: 0;
  }
}
</style>
