<template>
  <div class="chart">
    <VueApexCharts type="bar" :options="options" :series="series" />
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { computed } from 'vue';
import VueApexCharts from 'vue3-apexcharts';
import chartSettings from './chartSettings';

export default {
  name: 'MetersDataBarChart',
  components: { VueApexCharts },
  props: {
    dataSet: {
      type: Array,
      default: () => (Array(12).fill(0)),
    },
    units: String,
  },
  setup(props) {
    const store = useStore();

    const options = computed(() => chartSettings({
      units: props.units,
      groups: Object.keys(store.getters.debtGroupYear).map((year) => ({ title: year, cols: store.getters.debtGroupYear[year].length })),
      xaxisCategories: store.getters.months,
    }));

    const series = computed(() => ([{
      data: props.dataSet,
    }]));

    return {
      options,
      series,
    };
  },
};
</script>

<style scoped lang="scss">
.chart {
  padding-top: 15px;
  border: 1px solid var(--color-gray-light-06);
  border-radius: 6px;
}
</style>
