<template>
  <TransitionGroup
    class="services-list"
    tag="div"
    :css="false"
    @before-enter="beforeEnter"
    @enter="onEnter"
  >
    <ServicesListItem
      v-for="(item, i) in items"
      :key="item.id"
      :data-index="i"
      :item="item"
    />
  </TransitionGroup>
</template>

<script>
import { gsap } from 'gsap';
import ServicesListItem from './ServicesListItem';

export default {
  name: 'ServicesList',
  props: {
    items: Array,
  },
  components: { ServicesListItem },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0;
      el.style.transform = 'scale(0.8)';
    },
    onEnter(el) {
      gsap.to(el, {
        opacity: 1,
        transform: 'scale(1)',
        delay: (el.dataset.index) * 0.15,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}
</style>
