<template>
  <TransitionGroup
    class="services-list-item"
    tag="div"
    :css="false"
    @before-enter="beforeEnter"
    @enter="onEnter"
  >
    <ServicesDetailItem
      v-for="(item, i) in items"
      :key="item.id"
      :data-index="i"
      :item="item"
      :is-last="i === items.length - 1"
    />
  </TransitionGroup>
</template>

<script>
import { gsap } from 'gsap';
import ServicesDetailItem from './ServicesDetailItem';

export default {
  name: 'ServicesDetail',
  props: {
    items: Array,
  },
  components: { ServicesDetailItem },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0;
      el.style.transform = 'scale(0.8)';
    },
    onEnter(el) {
      gsap.to(el, {
        opacity: 1,
        transform: 'scale(1)',
        delay: (el.dataset.index) * 0.15,
      });
    },
  },
};
</script>
