<template>
  <div :class="['services-item', { 'is-last': isLast }]">
    <div class="title">{{ item.title }}</div>
    <div v-if="item.price" class="price">
      {{`${item.price || 0} ₽`}}
      <span class="gray">за {{ item.measure }}</span>
    </div>
    <div v-else class="price">Бесплатно</div>
  </div>
</template>

<script>

export default {
  name: 'ServiceDetailItemItem',
  props: {
    item: Object,
    isLast: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
.services-item{
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:first-child {
    padding-top: 0;
  }

  &:not(.is-last) {
    border-bottom: 1px solid var(--color-divider);
  }
}

.title {
  @include font-regular-caption-2;
  color: var(--color-gray-dark-03);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.price {
  background: var(--color-gray-light);
  border-radius: 6px;
  padding: 5px 10px;
  color: var(--color-text);
  flex: 0 0 120px;
  text-align: center;
  @include font-regular-caption-1;

  span {
    color: var(--color-gray-dark-03);
  }
}
</style>
