<template>
  <router-link :to="{ name: $screens.SERVICES_DETAIL_SCREEN, params: { id: item.id } }" class="services" >
    <div class="icon" v-html="item.svg"></div>

    <div class="title">{{ item.title }}</div>
  </router-link>
</template>

<script>
export default {
  name: 'ServicesListItem',
  props: {
    item: Object,
  },
};
</script>

<style scoped lang="scss">
.services {
  border-radius: 6px;
  border: 1px solid var(--color-gray-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 6px;
  min-height: 32.7vw;

  &:active {
    background: var(--color-green);
    border: 1px solid var(--color-green);

    .title, .icon ::v-deep svg path, .icon ::v-deep svg polygon {
      color: white;
      fill: white !important;
    }
  }
}
.title {
  @include font-regular-caption-2;
  color: black;
  text-align: center;
}

.icon {
  margin-bottom: 8px;

  ::v-deep svg path, ::v-deep svg polygon {
    fill: var(--color-gray-dark-03) !important;
  }
}
</style>
