@mixin font-regular-title-1 {
  font-family: 'Play-Regular', sans-serif;
  font-size: 26px;
  line-height: 30px;
}

@mixin font-regular-title-2 {
  font-family: 'Play-Regular', sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: var(--color-blue);
}

@mixin font-regular-title-3 {
  font-family: 'Play-Regular', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

@mixin font-regular-body {
  font-family: 'Play-Regular', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

@mixin font-regular-caption-1 {
  font-family: 'Play-Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

@mixin font-regular-caption-2 {
  font-family: 'Play-Regular', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-bold-large-title {
  font-family: 'Play-Bold', sans-serif;
  font-size: 34px;
  line-height: 41px;
}

@mixin font-bold-caption-1 {
  font-family: 'Play-Bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

@mixin font-bold-caption-2 {
  font-family: 'Play-Bold', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-bold-subheadline {
  font-family: 'Play-Bold', sans-serif;
  font-size: 15px;
  line-height: 20px;
}
