.vfm__container {
    display: flex;
    align-items: center;
    justify-content: center;

    .vfm__content {
        width: 100%;
        max-width: 320px;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        text-align: center;
    }

    .btns {
        display: flex;
        padding-top: 6px;
        padding-bottom: 6px;
        border-top: 1px solid var(--color-gray-light);
    }
}