@font-face {
  font-family: "Play-Bold";
  src: url("../assets/fonts/Play-Bold.woff2") format("woff2"),
  url("../assets/fonts/Play-Bold.woff") format("woff"),
  url("../assets/fonts/Play-Bold.ttf") format("truetype"),
  url("../assets/fonts/Play-Bold.svg") format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Play-Regular";
  src: url("../assets/fonts/Play-Regular.woff2") format("woff2"),
  url("../assets/fonts/Play-Regular.woff") format("woff"),
  url("../assets/fonts/Play-Regular.ttf") format("truetype"),
  url("../assets/fonts/Play-Regular.svg") format("svg");
  font-style: normal;
  font-weight: 400;
}

html, body {
  font-family: "Play-Regular", sans-serif;
  background-color: var(--color-gray-light-06);
  overflow-scrolling: touch;
}

:root {
  --color-green: #83bc2f;
  --color-green-dark: #6ca21e;
  --color-gray-light: #f4f5fb;
  --color-gray-light-06: #f1f9fe;
  --color-gray-dark-03: #52525f;
  --color-error: #DE3434;
  --color-error-dark: #9c2121;
  --color-warning: #CB8A29;
  --color-success: #6CA81F;
  --color-blue: #155776;
  --color-text: var(--color-blue);
  --color-divider: #DCDEEA;

  --space: 16px;
}

.space-bottom {
  margin-bottom: var(--space);
}

.font-regular-title-1 {
  @include font-regular-title-1;
}

.font-regular-title-2 {
  @include font-regular-title-2;
}

.font-regular-title-3 {
  @include font-regular-title-3;
}

.font-regular-body {
  @include font-regular-body;
}

.font-regular-caption-1 {
  @include font-regular-caption-1;
}

.font-regular-caption-2 {
  @include font-regular-caption-2;
}

.font-bold-large-title {
  @include font-bold-large-title;
}

.font-bold-caption-1 {
  @include font-bold-caption-1;
}

.font-bold-caption-2 {
  @include font-bold-caption-2;
}

.font-bold-subheadline {
  @include font-bold-subheadline;
}

.text {
  a {
    color: var(--color-blue);
    border-bottom: 1px dashed currentColor;

    &:active {
      border-bottom-color: transparent;
    }
  }

  p, ul, ol {
    margin-bottom: 10px;
  }

  img {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}