@import "mixins";
@import "normalise";
@import "theme";
@import "modals";

hr {
  border: none;
  border-bottom: 1px solid var(--color-gray-light);
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.mb {
  margin-bottom: 12px;
}

// анимация на роутах
.fade-route-enter-active,
.fade-route-leave-active {
  transition: opacity 0.5s ease;
}

.fade-route-enter-from,
.fade-route-leave-to {
  opacity: 0;
}

// переключение исчезновением
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// slide-down
.slide-down-enter,
.slide-down-leave-to {
  transform: translateY(100%);
}

.slide-down-enter-to,
.slide-down-leave {
  transform: translateY(0px);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform .5s ease-in-out;
}
