<template>
  <div :class="['accordion', { 'is-opened': isOpened }]">
    <div class="header" @click="toggle" @keydown="toggle">
      <div class="title" v-html="title" />
      <UiIcon size="16" color="black" class="chevron"><IconChevronDown /></UiIcon>
    </div>
    <div ref="content" class="content" :style="initIsExpanded && 'max-height: initial;'">
      <slot />
    </div>
  </div>
</template>

<script>
import UiIcon from '@/components/ui/UiIcon';
import { IconChevronDown } from '@/components/ui/icons';
import { animate } from '@/js-animation';

export default {
  name: 'UiAccordion',
  props: {
    title: String,
    initIsExpanded: {
      type: Boolean,
      default: false,
    },
  },
  components: { UiIcon, IconChevronDown },
  data() {
    return {
      isOpened: false,
    };
  },
  created() {
    this.initIsExpanded && (this.isOpened = true);
  },
  methods: {
    toggle() {
      this.isOpened ? this.close() : this.open();
    },
    open() {
      const { content } = this.$refs;
      const height = content.scrollHeight;

      animate({
        duration: 250,
        timing(timeFraction) {
          return timeFraction;
        },
        draw: (progress) => {
          content.style.maxHeight = `${progress * height}px`;
        },
        onStart: () => {
          this.isOpened = true;
        },
        onEnd: () => {
          content.style.maxHeight = 'initial';
        },
      });
    },
    close() {
      const { content } = this.$refs;
      const height = content.scrollHeight;

      content.style.maxHeight = height;
      animate({
        duration: 250,
        timing(timeFraction) {
          return timeFraction;
        },
        draw: (progress) => {
          content.style.maxHeight = `${(1 - progress) * height}px`;
        },
        onEnd: () => {
          this.isOpened = false;
        },
      });
    },
  },
};
</script>

<style scoped lang="scss">
.header {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include font-bold-subheadline;
  color: black;
  padding-right: 16px;
}

.chevron {
  transition: 0.15s;

  .is-opened & {
    transform: rotate(180deg);
  }
}

.content {
  padding-top: 12px;
  overflow: hidden;
  max-height: 0;
}
</style>
