<template>
  <vue-final-modal :model-value="modelValue" attach="#app" @click-outside="close">
    <div class="message">
      {{ message }}
    </div>
    <div class="btns">
      <UiButton type="text-blue" @click="close">Хорошо</UiButton>
    </div>
  </vue-final-modal>
</template>

<script>
import UiButton from '@/components/ui/UiButton';

export default {
  name: 'UiAlert',
  props: {
    modelValue: Boolean,
    message: String,
  },
  components: { UiButton },
  methods: {
    close() {
      this.$emit('update:model-value', false);
      this.$emit('closed');
    },
  },
};
</script>

<style scoped lang="scss">
.message {
  @include font-regular-body;
  color: black;
  padding: 17px 10px;
}
</style>
