<template>
  <div class="bottom-card">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'UiBottomCard',
};
</script>

<style scoped lang="scss">
.bottom-card {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 16px;
  background: white;
  box-shadow: 0 0 24px rgba(190, 205, 215, 0.16);
  border-radius: 20px 20px 0 0;
}
</style>
