<template>
  <button :class="['btn', type]" :disabled="disabled">
    <UiIcon :size="size"><slot /></UiIcon>
  </button>
</template>

<script>
import UiIcon from '@/components/ui/UiIcon';

const buttonViews = {
  GREEN: 'green',
  BORDER: 'border',
  TRANSPARENT: 'transparent',
};

export default {
  name: 'UiButtonIcon',
  props: {
    type: {
      type: String,
      default: buttonViews.GREEN,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    size: [String, Number],
  },
  components: { UiIcon },
};
</script>

<style scoped lang="scss">
.btn {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1px solid;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  background-color: #fff;

  &.green {
    color: white;
    background: var(--color-green);
    border: 1px solid var(--color-green);

    &:disabled {
      background-color: var(--color-gray-light-06);
      color: var(--color-gray-dark-03);
      border-color: var(--color-gray-light-06);
    }

    &:active {
      background: var(--color-green-dark);
      border-color: var(--color-green-dark);
    }
  }

  &.border {
    background: white;
    color: var(--color-blue);
    border: 1px solid var(--color-divider);

    &:disabled {
      background-color: var(--color-gray-light-06);
      color: var(--color-gray-dark-03);
      border-color: var(--color-gray-light-06);
    }

    &:active {
      color: var(--color-green-dark);
      border-color: var(--color-green-dark);
    }
  }

  &.transparent {
    box-shadow: 0 0 12px rgba(154, 175, 188, 0.12);
    background: white;
    color: var(--color-blue);
    border: 1px solid transparent;

    &:disabled {
      background-color: var(--color-gray-light-06);
      color: var(--color-gray-dark-03);
      border-color: var(--color-gray-light-06);
      box-shadow: 0 0 0 rgba(154, 175, 188, 0);
    }

    &:active {
      color: white;
      background-color: var(--color-green-dark);
      border-color: var(--color-green-dark);
      box-shadow: 0 0 0 rgba(154, 175, 188, 0);
    }
  }
}
</style>
