<template>
  <div class="img" :style="{ 'padding-top': heightPercent }">
    <transition name="fade">
      <UiLoader v-if="!isLoaded" class="loader" />
      <img v-else :src="src" :alt="alt">
    </transition>
  </div>
</template>

<script>
import UiLoader from '@/components/ui/UiLoader';

export default {
  name: 'UiImage',
  components: { UiLoader },
  props: {
    src: {
      type: String,
      required: true,
    },
    aspectRatio: {
      type: Number,
      default: 16 / 9,
    },
    alt: String,
  },
  data() {
    return {
      isLoaded: false,
    };
  },
  computed: {
    heightPercent() {
      return `${100 / this.aspectRatio}%`;
    },
  },
  mounted() {
    this.load();
  },
  watch: {
    src() {
      this.load();
    },
  },
  methods: {
    load() {
      this.isLoaded = false;

      const image = new Image();

      image.src = this.src;
      image.onload = () => {
        this.isLoaded = true;
      };
    },
  },
};
</script>

<style scoped lang="scss">
.img {
  border-radius: 4px;
  position: relative;
  width: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
</style>
