<template>
  <div class="input-container">
    <div class="input-wrap">
      <textarea
        v-if="multiline"
        class="input-field"
        :value="modelValue"
        :placeholder="placeholder"
        :rows="rows"
        :disabled="disabled"
        :style="{ 'padding-right': clearable ? '40px' : '16px', 'min-height': `${(rows * 22) + 20}px` }"
        @input="updateValue"
      />
      <input
        v-else
        ref="input"
        class="input-field"
        :class="[type]"
        :type="type"
        :value="modelValue"
        :placeholder="placeholder"
        :data-placeholder="type === 'datetime-local' && !modelValue && placeholder ? placeholder : ''"
        :disabled="disabled"
        :style="{ 'padding-right': clearable ? '40px' : '16px' }"
        @input="updateValue"
        @blur="blur"
      >
      <button v-if="clearable" class="clear-btn" @click="clean">
        <UiIcon :size="18" color="#8E8E93"><IconClose /></UiIcon>
      </button>
    </div>
    <div v-if="error" class="error" v-html="error" />
  </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import UiIcon from '@/components/ui/UiIcon';
import { IconClose } from '@/components/ui/icons';
import { create as Mask } from 'maska';

export default {
  name: 'UiInput',
  props: {
    modelValue: [String, Number],
    type: {
      type: String,
      default: 'text',
    },
    multiline: {
      type: Boolean,
      default: false,
    },
    rows: {
      type: [String, Number],
      default: 3,
    },
    placeholder: {
      type: String,
      required: true,
    },
    error: String,
    clearable: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    min: Number,
    maskPattern: [String, Object],
  },
  components: { UiIcon, IconClose },
  setup(props, context) {
    const input = ref(null);

    const updateValue = (event) => {
      context.emit('update:modelValue', event.target.value);
    };

    const blur = () => {
      if (props.min !== undefined && props.type === 'number' && +props.modelValue < props.min) {
        context.emit('update:modelValue', props.min);
      }

      context.emit('blur');
    };

    const clean = () => {
      context.emit('update:modelValue', '');
    };

    onMounted(() => {
      if (props.maskPattern) {
        if (typeof props.maskPattern === 'string') {
          Mask(input.value, { mask: props.maskPattern });
        } else if (typeof props.maskPattern === 'object' && props.maskPattern) {
          Mask(input.value, props.maskPattern);
        }
      }
    });

    return { input, updateValue, clean, blur };
  },
};
</script>

<style scoped lang="scss">
.input-container {
  width: 100%;
}
.input-wrap {
  display: flex;
  position: relative;
}
.input-field {
  @include font-regular-body;
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  background-color: var(--color-gray-light);
  padding: 10px 16px;
  color: var(--color-text);

  &::placeholder {
    color: var(--color-gray-dark-03);
  }

  &.datetime-local {
    width: 100vw;
    height: 42px;
    position: relative;

    &:after {
      color: var(--color-gray-dark-03);
      pointer-events: none;
      content: attr(data-placeholder);
      position: absolute;
      top: 0;
      left: 16px;
      right: 0;
      bottom: 0;
      display: inline-flex;
      align-items: center;
    }
  }
}
.clear-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}
.error {
  @include font-regular-caption-1;
  margin-top: 2px;
  color: var(--color-error);
}

textarea {
  resize: vertical;
}
</style>
