<template>
  <div class="wrap-loader">
    <div class="loader-element" :style="{ width: `${size}px`, height: `${size}px` }">
      <div
        v-for="(_, i) in Array(12)"
        :key="i"
        :style="{
          'transform-origin': `${(size / 2)}px ${(size / 2)}px`,
          transform: `rotate(${(i * 30)}deg)`,
        }"
      >
        <div :style="{ ...style, 'animation-delay': `${(-1.1 + (i * 0.1))}s` }"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UiLoader',
  props: {
    color: {
      type: String,
      default: 'var(--color-green)',
    },
    size: {
      type: Number,
      default: 25,
    },
  },
  computed: {
    style() {
      return {
        top: `${(this.size / 26.5)}px`,
        left: `${(this.size / 2.15)}px`,
        width: `${(this.size / 13.3)}px`,
        height: `${(this.size / 4.2)}px`,
        background: this.color,
      };
    },
  },
};
</script>

<style scoped lang="scss">
.wrap-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loader-element {
  display: inline-block;
  position: relative;
}
.loader-element div {
  div {
    animation: spin 1.2s linear infinite;
    content: " ";
    display: block;
    position: absolute;
    border-radius: 10px;
  }
}
@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
