<template>
  <div class="page-title">
    <div v-if="suptitle" class="suptitle">{{ suptitle }}</div>
    <div v-if="title" class="title">{{ title }}</div>
  </div>
</template>

<script>
export default {
  name: 'UiPageTitle',
  props: {
    title: String,
    suptitle: String,
  },
};
</script>

<style scoped lang="scss">
.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.suptitle {
  @include font-regular-caption-2;
  margin-bottom: 6px;
  color: var(--color-gray-dark-03);
}
.title {
  @include font-regular-title-2;
  margin-bottom: 12px;
  color: var(--color-text);
}
</style>
