<template>
  <div class="tabs">
    <div class="tabs-list">
      <a
        v-for="(tab, key) in tabs"
        :key="key"
        :class="['tab', { active: key === modelValue }]"
        :style="{ flex: `0 0 ${100 / (Object.keys(tabs).length || 1)}%` }"
        @click="$emit('update:modelValue', key)"
      >
        {{ tab }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UiTabSwitch',
  props: {
    tabs: Object,
    modelValue: String,
  },
};
</script>

<style scoped lang="scss">
.tabs {
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  background: var(--color-gray-light);
  margin-bottom: 24px;

  &-list {
    display: flex;
  }

  .tab {
    @include font-regular-caption-1;
    color: var(--color-text);
    background: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0), 0 3px 1px rgba(0, 0, 0, 0);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;

    &.active {
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
      color: white;
      background: var(--color-text);
    }
  }
}
</style>
